{% extends "layout_advice_plain.html" %}

{% block pageTitle %}
Help to Grow: Digital -Learning Platform
{% endblock %}

{% block content %}

<style>
    .govuk-grid-row {
        margin-right: initial;
        margin-left: initial;
    }
</style>


<div class="navigation-breadcrumb" id="12">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body" style="padding: 0">
                <a href="/" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
                <a href="/business-advice-and-learning" id="breadcrumb-link-about">Advice and learning</a> <span class="next-pointer"> &gt; </span>
                <a href="/business-articles-landing-page"> Articles and action plans</a>
                <span class="next-pointer"> &gt; </span>Introduction to crm software
            </div>
        </div>
    </div>
</div>


<div id="anchor1" class="inner-width-container resources ">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-3">Introduction to crm software</h1>
        <div class="govuk-body resources-intro-text">
            <strong>Reading time:</strong> 2:10<br>
        </div>
    </div>
</div>

<div id="anchor3" class="inner-width-container resources ">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body resources-intro-text">
            Using Customer Relationship Management (CRM) software helps you to manage your interactions with potential and existing customers, keeping all of your customer data centrally and improving the customer service you provide.
            <br><br>
            Here, we explore what CRM is and how it can help you and your business.</div>
    </div>
</div>

<div id="anchor4" class="govuk-grid-row ">
    <div class="video">
        <div class="govuk-grid-row ">
            <div class="govuk-width-container">
                <div class="govuk-grid-column-full">
                    <div class="govuk-!-padding-top-6 inner-width-container">
                        <h2 class="govuk-heading-l beis-blue-text">
                            Introduction to Customer Relationship Management software
                        </h2>

                        <div class="youtube-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/wFBbnkXrUvs" title="Introduction to Customer Relationship Management software" style="border:0px;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="inner-width-container" id="anchor5">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-top-6 ">
                <div class="govuk-body">
                    <p class="govuk-body"><strong>Time to watch:</strong> 2 minutes, 26 seconds</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-!-margin-bottom-4" id="anchor6">
    <div>
        <div class="govuk-width-container inner-width-container">
            <div class="govuk-!-padding-bottom-1">
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        Read video transcript
                    </summary>

                    <div class="govuk-details__text">
                        <p>Businesses who use Customer Relationship Management systems, or CRM, to manage their sales and customers, see on average an 18% boost to their productivity. A CRM system has the capability to simplify your processes and enable you to be more profitable and efficient.</p>
                        <p>Using a CRM system means that you can store your customer contact and order data all in one secure, central location. This helps you to bring consistency to your customer service no matter what channels you’re using, better plan marketing activities across your customer base, and have full visibility of your sales pipeline.</p>
                        <p>Automating time consuming tasks like inputting sales data, or manually checking promotion end dates, can free up your team to spend more time following up on new business leads, or focus on providing excellent customer service.</p>
                        <p>A CRM system is particularly useful if you’ve got sales and customer service teams who need to use the same real-time information, or can help a marketing team plan your next promotions.</p>
                        <p>Let’s see if a CRM system is something that your business and employees could benefit from.</p>
                        <p>Do you rely on emails, sticky notes and spreadsheets to follow up on opportunities?</p>
                        <p>Want to understand which promotions are making the most money?</p>
                        <p>Need to breakdown customer information by location, demographic and buying preferences?</p>
                        <p>Keep track of which team members are talking to customers and when?</p>
                        <p>Or want to plan longer promotions across different channels, but need help to manage them?</p>
                        <p>If this sounds like you, then it’s time to look at how a CRM system could help your business.</p>
                        <p>Help to Grow: Digital is designed to support businesses like yours to adopt new digital technologies such as CRM software, through expert advice, guidance and access to funding.</p>
                        <p>Take a look at our Help to Grow: Digital Online Learning Platform to find out more, including how you can access a discount of up to £5,000 to purchase eligible CRM software today.</p>

                    </div>
                </details>


            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor7">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">What is CRM software?
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">CRM software gives you a complete overview of your customer base across the core functions of sales, service and marketing, providing insight to help personalise your customer interactions.</p>
                    <p class="govuk-body">The software collects data from your sales leads and customers all in one place, analysing calls, emails and meetings, helping improve customer service, drive sales, and increase revenue.</p>
                    <p class="govuk-body">CRM software can help you to organise and prioritise sales opportunities for teams across your business, so you can spend more time connecting with your customers and securing sales.</p>
                    <p class="govuk-body">Once adopted, it also helps you segment your customer base, create sales reports and scale your sales process, as well as assist you in forecasting for sales periods.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor8">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Why should you care about CRM?
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">Businesses that use CRM software to manage their sales and customer information see on average, an 18% boost to their productivity, according to a recent study by the <a href="https://www.enterpriseresearch.ac.uk/publications/state-small-business-britain-report-2018/">Enterprise Research Centre</a>.</p>
                    <p class="govuk-body">If you want to manage your key sales and customer data more easily and use it more effectively to grow your business, CRM could be a great option for you.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor9">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Is CRM software right for you?
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">CRM software might be right for you if you want to:</p>
                    <ul>
                        <li>Keep a closer eye on your sales metrics</li>
                        <li>Gain a better understanding of what drives your sales</li>
                        <li>Find out more about your customers</li>
                        <li>Understand interactions between your staff and customers</li>
                        <li>Keep track of future business prospects, while better serving your existing customer database</li>
                    </ul>
                    <p class="govuk-body">Even if you only have a few key customers, CRM software is likely to benefit you when it comes to growing your business.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor10">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">The benefits of using CRM software for you and your business
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">Using CRM software offers a number of benefits to help you and your business succeed.</p>
                    <p class="govuk-body">As well as providing visibility of your sales forecast, CRM software simplifies storing customer data, order history and details of previous interactions securely, all in one place.</p>
                    <p class="govuk-body">You’ll be able to provide better customer service too, leading to an increase in retention and sales, while reducing complaints.</p>
                    <p class="govuk-body">Adopting CRM software can allow your team to focus less on paperwork and more on serving complex customers and developing leads in new markets too.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor11">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Next steps
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">If you’ve considered CRM software before, but worried about how to implement it into your business, or how it would be paid for, you're not alone. Many businesses feel cost and knowledge are barriers to adopting new digital technologies.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor12">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Help to Grow: Digital guidance
                </h2>
            </div>
        </div>
    </div>
</div>

<!-- #### BANNERS #### -->

<div class="govuk-width-container inner-width-container">
    <div class="beis-landing-page-list__item">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/group_photo_22c51ff514.jpg" class="beis-landing-page-list__image" alt="">
            </div>
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l beis-landing-page-list__heading">
                    6 steps to choosing software
                </h2>
                <p class="govuk-body">Digital technologies can help your business grow. Our 6 steps will steer you through the buying process, so you can make the right choice.</p>
                <div class=" ">
                    <a id="link-find-out-more-six-steps-to-choosing-software" class="beis-icon-link" href="/six-steps-to-choosing-software">
                        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                            <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"></path>
                        </svg>
                        Find out more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container">
    <div class="beis-landing-page-list__item">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-padding-left-0">

                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/i_Stock_1208767689_fbf1b5d576.jpg" class="beis-landing-page-list__image" alt="">


            </div>

            <div class="govuk-grid-column-one-half">

                <h2 class="govuk-heading-l beis-landing-page-list__heading">
                    How to recognise your business needs
                </h2>
                <p class="govuk-body">Identifying your business needs is key to understanding how to help it grow. Download and complete our Business Health Check to find out what shape your business is in.</p>



                <div class=" ">

                    <a id="link-read-the-article-how-to-recognise-your-business-needs" class="beis-icon-link" href="/how-to-recognise-your-business-needs">
                        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                            <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"></path>
                        </svg>
                        Read the article
                    </a>

                </div>


            </div>
        </div>
    </div>
</div>


<!-- #### GREY DIVIDER FOR FOOTER BANNER #### -->
<hr aria-hidden="true"  class="beis-grey divider">

<div class="columns">
    <div class="inner-width-container">
        <div class="govuk-grid-row beis-columns-same-height">
            <div class="govuk-grid-column-one-half-text">
                <div class="govuk-grid-row">
                    <div class="left-column">
                        <h2 class="govuk-heading-l govuk-!-padding-top-8 @*@Model.textblocks[0].subheaderColor*@"> Apply for 50% off business software</h2>
                        <p class="govuk-body" style="text-align:left;">Eligible businesses can get 50% off, up to £5,000, in approved Digital Accounting, Customer Relationship Management and eCommerce software.</p>


                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Arrow1_a55c240ba4.svg" class="beis-link-icon" alt="" width="23" height="24">

                        <a id="link-cmspageviews-2columns-find-your-software-comparison-tool" class="govuk-link" href="/comparison-tool">
                            Find your software
                        </a>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-column-one-half">
                <div class="govuk-grid-row">
                    <div class="right-column">
                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Image5_a5984a6fc3.png" alt="A casually dressed man, standing and smiling while looking at his mobile phone">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-js-display="block" style="display: block;">

    <div id="feedback-prompt" class="feedback-prompt" data-gtm-vis-recent-on-screen-52819822_80="483688" data-gtm-vis-first-on-screen-52819822_80="483688" data-gtm-vis-total-visible-time-52819822_80="100" data-gtm-vis-has-fired-52819822_80="1">
        <div id="feedback-prompt-0" class="feedback-bg-color">
            <div id="feedback-prompt-1" class="govuk-width-container govuk-!-padding-1">
                <div id="FeedbackYesNoContainer" class="govuk-grid-row">
                    <div id="feedback-prompt-3" class="govuk-grid-column-one-half">
                        <div id="FeedbackYesNoDiv" class="wrapper-left">
                            <h2 id="FeedbackYesNoMessage" class="message">Was this page helpful?</h2>

                            <p id="FeedbackYesNoPanel" class="govuk-button-group">
                                <button id="link-cmspageviews-feedbackpromptjs-yes" role="button" onclick="feedback('yes')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                    Yes
                                </button>

                                <button id="link-cmspageviews-feedbackpromptjs-no" role="button" onclick="feedback('no')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                    No
                                </button>
                            </p>
                        </div>
                    </div>

                    <div id="FeedbackReportProblemDiv" class="govuk-grid-column-one-half">
                        <div id="feedback-prompt-6" class="wrapper-right">
                            <button id="link-cmspageviews-feedbackpromptjs-report" role="button" onclick="feedback('report')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                Report a problem with this page
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="FeedbackHelpUsImproveDiv" class="feedback-no-container beis-white" style="display:none">
                <div class="govuk-width-container">

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
                            <p id="survey_explanation" class="govuk-body">
                            </p>
                            <div class="govuk-form-group">
                                <label for="email" class="govuk-label">Email address</label>
                                <input name="email_survey_signup" class="govuk-input" id="email" type="email" autocomplete="email" aria-describedby="survey_explanation">
                            </div>

                            <p class="govuk-button-group">
                                <a id="link-cmspageviews-feedbackpromptjs-no-submit-button" role="button" class="govuk-button primary">
                                    cancel
                                </a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="FeedbackReportProblemPanel" class="report-poroblem-container beis-white" style="display:none">
                <div class="govuk-width-container">
                    <button id="link-cmspageviews-feedbackpromptjs-page-is-not-useful" class="govuk-button secondary" onclick="feedback('close')" data-tabclick="true" data-track-category="yesNoFeedbackForm" data-track-action="fFormClose" aria-controls="page-is-not-useful" aria-expanded="false">
                        Close
                    </button>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h3>Help us to improve Help to Grow: Digital</h3>

                            <div id="feedback_explanation" class="govuk-body">
                                <p class="govuk-body">Don’t include personal or financial information like your National Insurance number or credit card details.</p>
                            </div>

                            <div class="govuk-form-group">
                                <label for="doing" class="govuk-label">What were you doing?</label>
                                <input name="what_doing" class="govuk-input" id="doing" type="text" aria-describedby="feedback_explanation">
                            </div>

                            <div class="govuk-form-group">
                                <label for="wrong" class="govuk-label">What went wrong?</label>
                                <input name="what_wrong" class="govuk-input" id="wrong" type="text">
                            </div>

                            <p class="govuk-button-group">
                                <button id="link-cmspageviews-feedbackpromptjs-submit" role="button" onclick="feedback('submit')" data-tabclick="true" class="govuk-button primary">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      var feedback = function (feedback) {
        switch (feedback) {
          case "no":
          case "yes":
          {
            processFeedback(feedback);
            break;
          }
          case "report":
          {
            $("#FeedbackYesNoContainer").hide();
            $("#FeedbackReportProblemPanel").show();
            break;
          }
          case "close":
          {
            $("#FeedbackReportProblemPanel").hide();
            $("#FeedbackHelpUsImproveDiv").hide();
            $("#FeedbackYesNoMessage").html("Was this page helpful?");
            $("#FeedbackReportProblemDiv").show();
            $("#FeedbackYesNoDiv").addClass("wrapper-left");
            $("#FeedbackYesNoContainer").show();
            $("#FeedbackYesNoPanel").show();
            break;
          }
          case "submit":
          {
            var strDoing = $("#doing").val().trim();
            var strWrong = $("#wrong").val().trim();
            if (strDoing == "") {
              alert("Please tell us what you were doing");
              $("#doing").focus();
              break;
            }

            if (strWrong == "") {
              alert("Please tell us what went wrong");
              $("#wrong").focus();
              break;
            }

            processReport(strDoing, strWrong);
            break;
          }
          default:
          {
            break;
          }
        }
      }

      var processFeedback = function (feedback) {
        $.ajax({
          type: "GET",
          url: "/feedback/useful",
          data: {
            "url": location.pathname,
            "IsPageUseful": feedback
          },
          success: function () {
            $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-useful-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
            $("#FeedbackYesNoDiv").removeClass("wrapper-left");
            $("#FeedbackYesNoPanel").hide();
            $("#FeedbackReportProblemDiv").hide();
          },
          error: function () {
            $("#FeedbackYesNoMessage").html("We were unable to save your feedback. Please try again.");
          }
        });
      }

      var processReport = function (doing, wrong) {
        $.ajax({
          type: "GET",
          url: "/feedback/report-problem",
          data: {
            "url": location.pathname,
            "whatIWasDoing": doing,
            "whatWentWrong": wrong
          },
          success: function () {
            $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-problem-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
            $("#FeedbackYesNoDiv").removeClass("wrapper-left");
            $("#FeedbackYesNoContainer").show();
            $("#FeedbackReportProblemPanel").hide();
            $("#FeedbackHelpUsImproveDiv").hide();
            $("#FeedbackReportProblemDiv").hide();
            $("#FeedbackYesNoPanel").hide();

          },
          error: function () {
            $("#FeedbackYesNoMessage").html("We were unable to save your problem report. Please try again.");
          }
        });
      }
    </script>
</div>


    {% endblock %}
