{% extends "layout_advice_plain.html" %}

{% block pageTitle %}
Help to Grow: Digital -Learning Platform
{% endblock %}

{% block content %}

<style>
    .govuk-grid-row {
        margin-right: initial;
        margin-left: initial;
    }
</style>


<div class="navigation-breadcrumb" id="12">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body" style="padding: 0">
                <a href="/" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
                <a href="/about" id="breadcrumb-link-about">Advice and learning</a> <span class="next-pointer"> &gt; </span>
                <a href="/business-articles-landing-page"> Articles and action plans</a>
                <span class="next-pointer"> &gt; </span>The benefits of going digital for your business
            </div>
        </div>
    </div>
</div>


<div id="anchor1" class="inner-width-container resources ">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-3">The benefits of going digital for your business</h1>


        <ul class="author">
        </ul>

        <div class="govuk-body resources-intro-text">
            <strong>Reading time:</strong> 3:26<br>

        </div>

        <div class="stick-to-bottom">

            <p class="govuk-button-group">
            </p>

        </div>
    </div>
</div>

<div id="anchor3" class="inner-width-container resources ">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body resources-intro-text">
            Thinking about how digital ways of working can help your business may lead to unexpected rewards including; saving time and money, as well as making you more competitive.
        </div>

    </div>
</div>

<div id="anchor4" class="govuk-grid-row ">
    <div class="video">
        <div class="govuk-grid-row ">
            <div class="govuk-width-container">
                <div class="govuk-grid-column-full">
                    <div class="govuk-!-padding-top-6 inner-width-container">
                        <h2 class="govuk-heading-l beis-blue-text">
                            The benefits of being digital
                        </h2>

                        <div class="youtube-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/yBUMLYw17t4?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.learn-to-grow-your-business.service.gov.uk" title="The benefits of digital technology to your business" style="border:0px;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-52819822_19="true" id="101978028" data-gtm-yt-inspected-11="true" data-gtm-yt-inspected-60095902_257="true"></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="inner-width-container" id="anchor5">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-top-6 ">
                <div class="govuk-body">
                    <p class="govuk-body"><strong>Time to watch:</strong> 3 minutes, 25 seconds</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="details" id="anchor6">
    <div>
        <div class="inner-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-padding-left-0">
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            Read video transcript
                        </summary>

                        <div class="govuk-details__text">
                            <p>Every day businesses see new digital products which can help them grow, but sometimes it can be hard to understand which product to invest in, or how to make the most of these opportunities.</p>
                            <p>Adopting digital technologies in your business could help you set up new ways of working, save you money, improve efficiency and boost your competitiveness. By looking at the tasks that take the most time or feel the most complicated you can start to see how digital software could help you improve your business processes.</p>
                            <p>Let’s look at some of the ways Customer Relationship Management software, also commonly known as CRM, eCommerce software and digital accounting software can help your business.</p>
                            <p>Automation<br>
                                One of the quickest and best ways digital software can help your business and employees is by automating labour-intensive tasks and reducing the risk of human error.
                                Using a CRM system to securely store and access your customer details in a central location or using digital accounting software to streamline your tax return processes, will help you to spend more time on the tasks that really drive your business forward.</p>
                            <p>Understanding your customers<br>
                                Whatever your business, understanding your customer needs is essential for retaining them and attracting new ones.
                                Using spreadsheets to spot trends is hard work and time-consuming<br>
                                Swapping spreadsheets for a CRM system simplifies how you can track orders and purchases.</p>
                            <p>Boosting Sales<br>
                                Before online trading, competing with bigger brands was next to impossible, now there are a host of digital marketplaces complemented by social media sites, to reach new customers and drive sales.
                                E-commerce software can help you to showcase your brand and reach more customers quicker and easier than ever.</p>
                            <p>Business insights<br>
                                Connecting your digital systems will give you valuable insights into opportunities for your business.
                                E-commerce and digital accounting software can help you track sales and marketing performance, and improve communication between staff, suppliers and customers, through shared and simplified digital systems.</p>
                            <p>If you’re thinking about buying new digital software or getting more out of the software you already have, you’re not alone, and we’re here to help.</p>
                            <p>The Help to Grow: Digital Learning Platform can help you find the right software for your needs. Through expert advice, guidance and practical tools, you can explore the huge potential digital technology has for growing your business.</p>
                            <p>So, take the first step and start exploring the platform today.</p>

                        </div>
                    </details>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="inner-width-container" id="anchor7">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">Rooted in reducing the burden of time-consuming administrative tasks, software can securely and easily store business data, simplify your selling process, and help refine your customer experience.</p>
                    <p class="govuk-body">The  <a href="https://www.enterpriseresearch.ac.uk/publications/state-small-business-britain-report-2018/">Enterprise Research Centre</a> reports there is an expected productivity gain of between 7.5 – 18% for small and medium sized businesses, when they adopt new digital technologies such as Digital Accountancy, eCommerce and Customer Relationship Management (CRM) software.</p>
                    <p class="govuk-body">Adjusting to the new landscape businesses are now trading in, being accessible, staying connected and understanding your customers - even when you can’t talk to them face to face - are vital for survival.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor8">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">What does ‘being digital’ mean?
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="statistics-text" id="23">
    <div class="govuk-width-container inner-width-container govuk-!-margin-bottom-6 govuk-!-margin-top-6">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-6">

                <div class="govuk-grid-row beis-columns-same-height">
                    <div class="govuk-grid-column-one-half beis-white govuk-!-padding-left-0">
                        <div class="govuk-grid-row">
                            <div class="left-column">
                                <div>
                                    <p class="govuk-body left beis-navy-blue-text">Being digital means embracing new technologies that can help your business operate more efficiently. Digital is something SMEs of all sizes and locations can do and taking the first step, no matter how small, will help build confidence and knowledge.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half beis-yellow">
                        <div class="govuk-grid-row">
                            <div class="right-column">
                                <div class="beis-columns">
                                    <h1 class="govuk-heading-xl govuk-!-padding-top-8 beis-navy-blue-text">
                                        7.5% - 18%
                                    </h1>
                                    <div class="govuk-body statistic-text beis-navy-blue-text">
                                        <p>expected productivity gain when adopting digital technology.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor10">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">It’s also worth remembering that digital adoption isn’t something you have to tackle all in one go.</p>
                    <p class="govuk-body">Here are some examples of what you could achieve:</p>
                    <ul>
                        <li>an online shopfront so customers can buy directly from you</li>
                        <li>swapping your Excel spreadsheets for accounting software that automatically generates invoices and tracks spending</li>
                        <li>storing your essential sales on a secure online system making them accessible to your team even when they’re working remotely</li>
                        <li>automating your promotions, chasing leads and exploring customer type from one central system. This helps to introduce new ways to reach your customers, understand their wants and create consistent service</li>
                    </ul>
                    <p class="govuk-body">If you have more than one digital aspiration in mind, start with <a href="/set-objectives-for-new-software">setting objectives for new software</a> and allow the rest to follow when the time’s right.</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor11">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">How does adopting digital technology help?
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="beis-image-caption" id="anchor12">
    <div class="govuk-width-container inner-width-container">
        <div class="img-wrapper govuk-!-padding-bottom-6 beis-white">
            <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/GD_Benefits_of_Digital_request_V2_18024e7a9e.jpg" alt="Infographic showing advantages of digitalisation, including improvements in efficiency, flexibility, resilience, market access and business modelling">
        </div>

    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor13">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <h3 id="save-time-on-everyday-tasks-so-you-can-spend-time-driving-your-business">Save time on everyday tasks so you can spend time driving your business</h3>
                    <p class="govuk-body">Changing how you manage your essential data like financial information and customer contact details give a quick win for saving you time and reducing the opportunity for human error.</p>
                    <p class="govuk-body"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1010738/LSBS_2020_SME_Employers.pdf">In our survey,</a> we found that around 30% of SMEs are still using spreadsheets and paper-based records for their accounts. This presents a huge risk for incorrectly filed accounts and is incredibly time consuming when you need to collate receipts, invoices and manually check payment has been received.</p>
                    <p class="govuk-body">Other ways automation can help save time is by using Customer Relationship Management (CRM) software to store, track and review customer habits.</p>
                    <p class="govuk-body">Giving you better data to manage your business and your customers’ experience, it means details are entered once and stored centrally so team members can access what they need without having to chase anyone else in the team for information.</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor14">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Understand your customers
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="statistics-text" id="24">
    <div class="govuk-width-container inner-width-container govuk-!-margin-bottom-6 govuk-!-margin-top-6">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-6 govuk-!-padding-bottom-6">

                <div class="govuk-grid-row beis-columns-same-height">
                    <div class="govuk-grid-column-one-half beis-navy-blue">
                        <div class="govuk-grid-row">
                            <div class="left-column">
                                <div class="beis-columns">
                                    <h1 class="govuk-heading-xl govuk-!-padding-top-8 beis-yellow-text">
                                        30%
                                    </h1>
                                    <div class="govuk-body statistic-text beis-white-text">
                                        <p>of SMEs are still using spreadsheets and paper-based records for their accounts</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half beis-white">
                        <div class="govuk-grid-row">
                            <div class="right-column">
                                <div>
                                    <p class="govuk-body left plain-text">Knowing the wants and needs of your customers is vital for retaining clients and attracting new ones.
                                        Using paper and spreadsheet based methods to spot trends, especially over a longer period of time, is incredibly time consuming and at risk of human error.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor16">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class="govuk-body">
                <p class="govuk-body">Swapping spreadsheets for CRM could provide the opportunity to track and cross-reference your trends automatically, by clicking checkboxes for what you want to see.</p>
                <p class="govuk-body">This can help you track:</p>
                <ul>
                    <li><strong>regularity of spend</strong> – covering a date range or by customer type</li>
                    <li><strong>sale value</strong> – understanding average spend could help plan future promotions</li>
                    <li><strong>purchase type</strong> – great data for understanding stock levels and expanding your ranges</li>
                </ul>
                <p class="govuk-body">If you’re thinking about loyalty plans, seasonal promotions and where to drive product development, this is vital data.</p>
            </div>
    </div>
    </div>
</div>


<div class="govuk-width-container inner-width-container" id="anchor17">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class="govuk-body">
                <h3 id="boost-sales-by-reaching-more-people">Boost sales by reaching more people</h3>
                <p class="govuk-body">When SME trading only happened offline, competing with bigger brands was next to impossible. It took big budgets for sustained exposure. Now, people are choosing to shop online and buy from independent traders more, the opportunities are vast.</p>
                <p class="govuk-body">The creation of online marketplaces and tools for marketing and promotion have levelled the playing field. Environments like social media platforms let you readily examine what your competitors are doing, and how well your shared target customers respond to different methods of advertising and products.</p>
                <p class="govuk-body">Combined with easier access to professional looking designs for your logos and a website, suddenly a smart, targeted brand presence that reaches more of your ideal customer is in grabbing distance.</p>

            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor18">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-bottom-6">
                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Benefits_of_digital_e8fc02c081.jpg" class="beis-image" alt="A man holding a tablet outside in a garden centre">


            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor19">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <h3 id="connect-your-systems-for-better-insights">Connect your systems for better insights</h3>
                    <p class="govuk-body">If you’re thinking about what comes next on your digital adoption journey, connecting your existing systems is an ideal place to start.</p>
                    <p class="govuk-body">Linking your eCommerce and Accounting systems can provide you with deeper insights about your sales and overall business health.</p>
                    <p class="govuk-body">This can include quicker access to information, and enable improved communication between staff, suppliers and networks. Ideal if your business operates across multiple sites and has remote working staff.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="14" class="govuk-width-container inner-width-container">
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-two-thirds">
            <div class="toptip  govuk-!-margin-bottom-6 govuk-!-margin-top-6">
                <h2 class="govuk-heading-l">Top tip</h2>
                <div class="govuk-body">
                    <p>When considering digital ways of working, it’s essential to consider the importance of <a href="https://www.learn-to-grow-your-business.service.gov.uk/cyber-security">cyber security</a> for your business.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor21">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Next steps
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">Did you know Help to Grow: Digital supports businesses to choose, buy and integrate software? <a href="/comparison-tool">Browse software available on the scheme</a> and <a href="/eligibility">see if you’re eligible</a> to receive up to 50% discount or £5,000 (excluding VAT) towards the cost of buying one approved software for your business.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="govuk-width-container inner-width-container" id="anchor22">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Help to Grow: Digital guidance
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container">
    <div class="beis-landing-page-list__item">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/group_photo_22c51ff514.jpg" class="beis-landing-page-list__image" alt="">
            </div>
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l beis-landing-page-list__heading">
                    6 steps to choosing software
                </h2>
                <p class="govuk-body">Digital technologies can help your business grow. Our 6 steps will steer you through the buying process, so you can make the right choice.</p>
                <div class=" ">
                    <a id="link-find-out-more-six-steps-to-choosing-software" class="beis-icon-link" href="/six-steps-to-choosing-software">
                        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                            <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"></path>
                        </svg>
                        Find out more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container">
    <div class="beis-landing-page-list__item">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-padding-left-0">

                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/i_Stock_1208767689_fbf1b5d576.jpg" class="beis-landing-page-list__image" alt="">


            </div>

            <div class="govuk-grid-column-one-half">

                <h2 class="govuk-heading-l beis-landing-page-list__heading">
                    How to recognise your business needs
                </h2>
                <p class="govuk-body">Identifying your business needs is key to understanding how to help it grow. Download and complete our Business Health Check to find out what shape your business is in.</p>



                <div class=" ">

                    <a id="link-read-the-article-how-to-recognise-your-business-needs" class="beis-icon-link" href="/how-to-recognise-your-business-needs">
                        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                            <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"></path>
                        </svg>
                        Read the article
                    </a>

                </div>


            </div>
        </div>
    </div>
</div>


<!-- #### GREY DIVIDER FOR FOOTER BANNER #### -->
<hr aria-hidden="true" id="anchor9" class="beis-grey divider">

<div class="columns" id="anchor10">
    <div class="inner-width-container">
        <div class="govuk-grid-row beis-columns-same-height">
            <div class="govuk-grid-column-one-half-text">
                <div class="govuk-grid-row">
                    <div class="left-column">
                        <h2 class="govuk-heading-l govuk-!-padding-top-8 @*@Model.textblocks[0].subheaderColor*@"> Apply for 50% off business software</h2>
                        <p class="govuk-body" style="text-align:left;">Eligible businesses can get 50% off, up to £5,000, in approved Digital Accounting, Customer Relationship Management and eCommerce software.</p>


                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Arrow1_a55c240ba4.svg" class="beis-link-icon" alt="" width="23" height="24">

                        <a id="link-cmspageviews-2columns-find-your-software-comparison-tool" class="govuk-link" href="/comparison-tool">
                            Find your software
                        </a>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-column-one-half">
                <div class="govuk-grid-row">
                    <div class="right-column">
                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Image5_a5984a6fc3.png" alt="A casually dressed man, standing and smiling while looking at his mobile phone">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-js-display="block" style="display: block;">

    <div id="feedback-prompt" class="feedback-prompt" data-gtm-vis-recent-on-screen-52819822_80="483688" data-gtm-vis-first-on-screen-52819822_80="483688" data-gtm-vis-total-visible-time-52819822_80="100" data-gtm-vis-has-fired-52819822_80="1">
        <div id="feedback-prompt-0" class="feedback-bg-color">
            <div id="feedback-prompt-1" class="govuk-width-container govuk-!-padding-1">
                <div id="FeedbackYesNoContainer" class="govuk-grid-row">
                    <div id="feedback-prompt-3" class="govuk-grid-column-one-half">
                        <div id="FeedbackYesNoDiv" class="wrapper-left">
                            <h2 id="FeedbackYesNoMessage" class="message">Was this page helpful?</h2>

                            <p id="FeedbackYesNoPanel" class="govuk-button-group">
                                <button id="link-cmspageviews-feedbackpromptjs-yes" role="button" onclick="feedback('yes')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                    Yes
                                </button>

                                <button id="link-cmspageviews-feedbackpromptjs-no" role="button" onclick="feedback('no')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                    No
                                </button>
                            </p>
                        </div>
                    </div>

                    <div id="FeedbackReportProblemDiv" class="govuk-grid-column-one-half">
                        <div id="feedback-prompt-6" class="wrapper-right">
                            <button id="link-cmspageviews-feedbackpromptjs-report" role="button" onclick="feedback('report')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                Report a problem with this page
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="FeedbackHelpUsImproveDiv" class="feedback-no-container beis-white" style="display:none">
                <div class="govuk-width-container">

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
                            <p id="survey_explanation" class="govuk-body">
                            </p>
                            <div class="govuk-form-group">
                                <label for="email" class="govuk-label">Email address</label>
                                <input name="email_survey_signup" class="govuk-input" id="email" type="email" autocomplete="email" aria-describedby="survey_explanation">
                            </div>

                            <p class="govuk-button-group">
                                <a id="link-cmspageviews-feedbackpromptjs-no-submit-button" role="button" class="govuk-button primary">
                                    cancel
                                </a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="FeedbackReportProblemPanel" class="report-poroblem-container beis-white" style="display:none">
                <div class="govuk-width-container">
                    <button id="link-cmspageviews-feedbackpromptjs-page-is-not-useful" class="govuk-button secondary" onclick="feedback('close')" data-tabclick="true" data-track-category="yesNoFeedbackForm" data-track-action="fFormClose" aria-controls="page-is-not-useful" aria-expanded="false">
                        Close
                    </button>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h3>Help us to improve Help to Grow: Digital</h3>

                            <div id="feedback_explanation" class="govuk-body">
                                <p class="govuk-body">Don’t include personal or financial information like your National Insurance number or credit card details.</p>
                            </div>

                            <div class="govuk-form-group">
                                <label for="doing" class="govuk-label">What were you doing?</label>
                                <input name="what_doing" class="govuk-input" id="doing" type="text" aria-describedby="feedback_explanation">
                            </div>

                            <div class="govuk-form-group">
                                <label for="wrong" class="govuk-label">What went wrong?</label>
                                <input name="what_wrong" class="govuk-input" id="wrong" type="text">
                            </div>

                            <p class="govuk-button-group">
                                <button id="link-cmspageviews-feedbackpromptjs-submit" role="button" onclick="feedback('submit')" data-tabclick="true" class="govuk-button primary">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      var feedback = function (feedback) {
        switch (feedback) {
          case "no":
          case "yes":
          {
            processFeedback(feedback);
            break;
          }
          case "report":
          {
            $("#FeedbackYesNoContainer").hide();
            $("#FeedbackReportProblemPanel").show();
            break;
          }
          case "close":
          {
            $("#FeedbackReportProblemPanel").hide();
            $("#FeedbackHelpUsImproveDiv").hide();
            $("#FeedbackYesNoMessage").html("Was this page helpful?");
            $("#FeedbackReportProblemDiv").show();
            $("#FeedbackYesNoDiv").addClass("wrapper-left");
            $("#FeedbackYesNoContainer").show();
            $("#FeedbackYesNoPanel").show();
            break;
          }
          case "submit":
          {
            var strDoing = $("#doing").val().trim();
            var strWrong = $("#wrong").val().trim();
            if (strDoing == "") {
              alert("Please tell us what you were doing");
              $("#doing").focus();
              break;
            }

            if (strWrong == "") {
              alert("Please tell us what went wrong");
              $("#wrong").focus();
              break;
            }

            processReport(strDoing, strWrong);
            break;
          }
          default:
          {
            break;
          }
        }
      }

      var processFeedback = function (feedback) {
        $.ajax({
          type: "GET",
          url: "/feedback/useful",
          data: {
            "url": location.pathname,
            "IsPageUseful": feedback
          },
          success: function () {
            $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-useful-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
            $("#FeedbackYesNoDiv").removeClass("wrapper-left");
            $("#FeedbackYesNoPanel").hide();
            $("#FeedbackReportProblemDiv").hide();
          },
          error: function () {
            $("#FeedbackYesNoMessage").html("We were unable to save your feedback. Please try again.");
          }
        });
      }

      var processReport = function (doing, wrong) {
        $.ajax({
          type: "GET",
          url: "/feedback/report-problem",
          data: {
            "url": location.pathname,
            "whatIWasDoing": doing,
            "whatWentWrong": wrong
          },
          success: function () {
            $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-problem-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
            $("#FeedbackYesNoDiv").removeClass("wrapper-left");
            $("#FeedbackYesNoContainer").show();
            $("#FeedbackReportProblemPanel").hide();
            $("#FeedbackHelpUsImproveDiv").hide();
            $("#FeedbackReportProblemDiv").hide();
            $("#FeedbackYesNoPanel").hide();

          },
          error: function () {
            $("#FeedbackYesNoMessage").html("We were unable to save your problem report. Please try again.");
          }
        });
      }
    </script>
</div>


    {% endblock %}
