{% extends "layout_advice_plain.html" %}

{% block pageTitle %}
Help to Grow: Digital -Learning Platform
{% endblock %}

{% block content %}

<style>
    .govuk-grid-row {
        margin-right: initial;
        margin-left: initial;
    }
</style>


<div class="navigation-breadcrumb" id="12">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body" style="padding: 0">
                <a href="/" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
                <a href="/business-advice-and-learning" id="breadcrumb-link-about">Advice and learning</a> <span class="next-pointer"> &gt; </span>
                <a href="/case-studies"> Case studies</a>
                <span class="next-pointer"> &gt; </span>Crannis Technology Services
            </div>
        </div>
    </div>
</div>


<div id="anchor1" class="govuk-width-container inner-width-container resources ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-column-full govuk-body govuk-!-padding-left-0">
                <h1 class="govuk-heading-xl govuk-!-padding-top-3">Crannis Technology Services</h1>
                <div class="govuk-body resources-intro-text">
                    <strong>Reading time:</strong> 3:55<br>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="anchor3" class="govuk-width-container inner-width-container resources ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-body resources-intro-text">
                Like many small and medium-sized enterprises, Darren Crannis decided to use Digital Accounting software early during the formation of his electrical engineering company. Here, he explains why it’s never too late to start using it, and how it can help your business to grow.</div>
        </div>
    </div>
</div>

<div id="anchor4" class="video beis-navy-blue">
    <div class="inner-width-container">
        <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
            <h2 class="govuk-heading-l beis-white-text">
                Crannis technology services
            </h2>

            <div class="youtube-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8NFMcScOcrg?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.learn-to-grow-your-business.service.gov.uk" title="How we use Digital Accounting to save time: Crannis Technology Services" style="border:0px;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-52819822_19="true" id="169369240" data-gtm-yt-inspected-7="true" data-gtm-yt-inspected-60095902_257="true"></iframe>
            </div>

        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor5">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-top-6 ">
                <div class="govuk-body">
                    <p class="govuk-body"><strong>Time to watch:</strong> 2 minutes, 27 seconds</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-!-margin-bottom-4" id="anchor6">
    <div>
        <div class="govuk-width-container inner-width-container">
            <div class="govuk-!-padding-bottom-1">
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        Read the video transcript
                    </summary>

                    <div class="govuk-details__text">
                        <p>My name's Darren Crannis, I'm managing director of CTS Electrical and we provide electrical services
                            for domestic, industrial and commercial.</p>
                        <p>So, based on other people's experiences when we spoke to them about how they ran their business, we knew that cash flow was key.</p>
                        <p>So that is a real big important thing to put some software in place, so it automatically chases invoices,
                            reminds customers even while we're sleeping. And we can take those payments online 24/7.</p>
                        <p>So that was a really big driver for us to ensure that we get paid on time.</p>
                        <p>Using digital accounting software, we can see our business position all day, every day. So straightaway,
                            at the click of a button, we can see our profit and loss, we can see what money is owed to us, we can see what money we owed our suppliers and very quickly, we can make decisions for the business based on that and as a result we have very little outstanding debt.</p>
                        <p>So we recently had customers ask us if we can take card payment. So we logged onto our accounting software, we integrated that with a click of a button into a card merchant and then we managed to gain more customers by accepting easy card payments.</p>
                        <p>I spent a lot of time working with electricians and other people in the industry who are still using paper-based systems and they're missing quotes to give to their customers, they're missing invoices, they're spending a lot of time in the evenings doing paperwork manually and I really didn't want to be bogged down with all that time to do that.</p>
                        <p>So I wanted something really quick and efficient I could use on the move. So because the software's online, we can access it anywhere in the world with an Internet connection. So that can be on our phone, iPads, laptops. We don't have to be in the office, we can be in a van, a customer site, even on holiday. We can check the information, check the quotes, check the invoices, check the bank and save a lot of time.</p>
                        <p>So, based on my own experience, if people aren't too sure about adopting digital software, I would say give it a try. You can give it a free trial, you can give it a little test run and see which one fits with you best.</p>
                        <p>I really don't think there's any money in the world that would stop us using digital software any more.</p>
                        <p>I don't think there's enough time in the day to continue doing what we're doing without it.</p>

                    </div>
                </details>


            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor7">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">For Darren Crannis of Crannis Technology Services, choosing to use Digital Accounting software for his new business was a given, having used it at companies where he’d previously worked.</p>
                    <p class="govuk-body">‘I was so used to using it,’ he begins. ‘At one company I worked for, we incorporated all different types of accounting software but, back then, it was a lot harder to use than it is today.’</p>
                    <p class="govuk-body">Although experienced in using Digital Accounting software, Darren decided to do more research into what current software was available and reached out to friends for help.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-bottom-6">
                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/crannis_switchboard_3500294093.jpg" class="beis-image" alt="An engineer on site working on an electrical installation&nbsp;">
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor9">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">‘I asked someone who ran a couple of businesses what they’d gone for and had a look some of the software they used,’ he says. ‘It was on that basis that I decided I’d use it for digital accounting, having seen the benefits it could provide for me and my business.'</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor10">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">Another driving force in choosing the right Digital Accounting software was adopting something that could hold client information reliably and securely, while also ensuring it enabled him to stay up to date with credit control.</p>
                    <p class="govuk-body">‘I’d seen a lot of people struggling with that,’ Darren explains. ‘I knew friends in other trade industries who used more traditional methods and their credit control was awful.<br></p>
                    <p class="govuk-body">‘I realised I wouldn’t have time to keep calling customers, and I didn’t want to keep chasing them for money – and that’s what I wanted the software I chose to do; I wanted it to do it all for us.’</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor11">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">It wasn’t all about chasing payments, though. Darren wanted something that would enable him to generate quotes via email automatically, and allow him to seamlessly export receipts and invoices from his phone straight to the software housed on his office computer. The software he chose to adopt does all of that at the press of a button.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor12">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Getting started
                </h2>
            </div>
        </div>
    </div>
</div>

<div id="46" class="govuk-width-container inner-width-container">
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-two-thirds">
            <div class="image-with-text govuk-!-padding-top-6 govuk-!-padding-bottom-6">
                <div class="govuk-body">
                    <div class="text-float-left">
                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/crannis_istock_aff73f5d8b.jpg" alt="An engineer working on an electrical installation with a screwdriver ">
                    </div>
                    <p>Upon narrowing his choices, Darren put time aside to test the functionality of each software on his shortlist.</p>
                    <p>‘I actually trialled a few different types of digital accountancy software before choosing the right one, just to see what sort of tutorials they had, as well as [asking] the software companies a few questions to see if what I was choosing was right for me.’</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor14">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">Once Darren had chosen the most suitable software, he completed a number of trial-runs to get the hang of it before rolling the software out across his business. It took just a few days for him to get used to the Digital Accounting software he’d adopted, and the options to customise it to suit his business’ needs were well-received.</p>
                    <p class="govuk-body">‘Like a lot of other businesses, we've always used customised options for the software we use,’ he explains. ‘Until Covid-19 came along, we’d never taken card payments, but as soon as lockdown hit a lot of people wanted to pay by card.</p>
                    <p class="govuk-body">‘We integrated a card payment add-on to work with our accounting software and it worked really well - and really quickly.’</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="quote-two-thirds" id="25">
    <div class="govuk-width-container inner-width-container govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="line-bars">
                    <div class="quote-icon">
                        <svg width="36" height="22" viewBox="0 0 36 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28.9884 22C32.8605 22 36 18.9159 36 15.1122C36 11.2056 32.9651 8.42991 29.093 8.42991H28.2558V8.12149C28.2558 5.3458 30.8721 4.42056 33.593 4.00935L34.8488 3.80374L34.5349 0L33.0698 0.102809C23.7558 0.719629 20.8256 7.40187 20.8256 13.1589C20.8256 18.5047 24.3837 22 28.9884 22ZM8.16279 22C12.0349 22 15.1744 18.9159 15.1744 15.1122C15.1744 11.2056 12.1395 8.42991 8.26744 8.42991H7.43023V8.12149C7.43023 5.3458 10.0465 4.42056 12.7674 4.00935L14.0233 3.80374L13.7093 0L12.2442 0.102809C2.93023 0.719629 0 7.40187 0 13.1589C0 18.5047 3.55814 22 8.16279 22Z" fill="#1D3A64"></path>
                        </svg>
                    </div>
                    <div class="govuk-body  govuk-!-font-size-24 govuk-!-padding-6 govuk-!-margin-bottom-0">
                        <blockquote class="govuk-!-margin-0">I realised I wouldn’t have time to keep calling customers, and I didn’t want to keep chasing them for money – that’s what I wanted the software I
                            chose to
                            do</blockquote>

                    </div>
                    <div class="quote-icon right">
                        <svg width="36" height="22" viewBox="0 0 36 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.01163 -2.53424e-06C3.13954 -2.87275e-06 1.65368e-06 3.08411 1.32115e-06 6.88785C9.79626e-07 10.7944 3.03488 13.5701 6.90698 13.5701L7.74419 13.5701L7.74419 13.8785C7.74419 16.6542 5.12791 17.5794 2.40698 17.9906L1.15116 18.1963L1.46512 22L2.93023 21.8972C12.2442 21.2804 15.1744 14.5981 15.1744 8.84112C15.1744 3.49533 11.6163 -2.13169e-06 7.01163 -2.53424e-06ZM27.8372 -7.13614e-07C23.9651 -1.05212e-06 20.8256 3.08411 20.8256 6.88785C20.8256 10.7944 23.8605 13.5701 27.7326 13.5701L28.5698 13.5701L28.5698 13.8785C28.5698 16.6542 25.9535 17.5794 23.2326 17.9906L21.9767 18.1963L22.2907 22L23.7558 21.8972C33.0698 21.2804 36 14.5981 36 8.84112C36 3.49533 32.4419 -3.11062e-07 27.8372 -7.13614e-07Z" fill="#1D3A64"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor16">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Putting it to work
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor17">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">Spending less time on manual accounting meant Darren could now devote more time to focusing on growing his business, instead of the time-consuming task of managing his accounts manually.</p>
                    <p class="govuk-body">‘I still know contractors to this day who just use spreadsheets. I don't know how they do that, especially when you become VAT-registered,’ he says.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="47" class="govuk-width-container inner-width-container">
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-two-thirds">
            <div class="image-with-text govuk-!-padding-top-6 govuk-!-padding-bottom-6">
                <div class="govuk-body">
                    <div class="text-float-right">
                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Crannis1_back_cf6fe5842e.png" alt="Darren Crannis of Crannis Technology Services wearing a t-shirt with the company logo on the front">
                    </div>
                    <p>‘VAT takes us no time at all. It’s important to make sure our accounts are up-to-date and reconciled. I don't know how you can do that with a spreadsheet, especially when it comes to CIS (Construction Industry Scheme) and other tax-related processes.’</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor19">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-top-6 ">
                <div class="govuk-body">
                    <p class="govuk-body">Darren’s not the only one pleased with how his Digital Accounting software functions as he explains. ‘Our accountants are happy with reports they can pull off the back-end of our accounting software too.’</p>
                    <p class="govuk-body">‘When it comes to our accountants, we’re only front-end users in a way, and they're doing all the clever bits at the back. They also have their own login for anything they need to do.</p>
                    <p class="govuk-body">‘We can give staff different user rights, too, so it’s really easy for people to complete the tasks required of them.’</p>
                    <p class="govuk-body">Of all the advantages using Digital Accounting software has to offer, the one Darren appreciates the most is the time it saves for him to focus on other aspects of his business.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="quote-two-thirds" id="27">
    <div class="govuk-width-container inner-width-container govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="line-bars">
                    <div class="quote-icon">
                        <svg width="36" height="22" viewBox="0 0 36 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28.9884 22C32.8605 22 36 18.9159 36 15.1122C36 11.2056 32.9651 8.42991 29.093 8.42991H28.2558V8.12149C28.2558 5.3458 30.8721 4.42056 33.593 4.00935L34.8488 3.80374L34.5349 0L33.0698 0.102809C23.7558 0.719629 20.8256 7.40187 20.8256 13.1589C20.8256 18.5047 24.3837 22 28.9884 22ZM8.16279 22C12.0349 22 15.1744 18.9159 15.1744 15.1122C15.1744 11.2056 12.1395 8.42991 8.26744 8.42991H7.43023V8.12149C7.43023 5.3458 10.0465 4.42056 12.7674 4.00935L14.0233 3.80374L13.7093 0L12.2442 0.102809C2.93023 0.719629 0 7.40187 0 13.1589C0 18.5047 3.55814 22 8.16279 22Z" fill="#1D3A64"></path>
                        </svg>
                    </div>
                    <div class="govuk-body  govuk-!-font-size-24 govuk-!-padding-6 govuk-!-margin-bottom-0">
                        <blockquote class="govuk-!-margin-0">We integrated a card payment add-on to work with our accounting software and it worked really well, and really quickly</blockquote>

                    </div>
                    <div class="quote-icon right">
                        <svg width="36" height="22" viewBox="0 0 36 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.01163 -2.53424e-06C3.13954 -2.87275e-06 1.65368e-06 3.08411 1.32115e-06 6.88785C9.79626e-07 10.7944 3.03488 13.5701 6.90698 13.5701L7.74419 13.5701L7.74419 13.8785C7.74419 16.6542 5.12791 17.5794 2.40698 17.9906L1.15116 18.1963L1.46512 22L2.93023 21.8972C12.2442 21.2804 15.1744 14.5981 15.1744 8.84112C15.1744 3.49533 11.6163 -2.13169e-06 7.01163 -2.53424e-06ZM27.8372 -7.13614e-07C23.9651 -1.05212e-06 20.8256 3.08411 20.8256 6.88785C20.8256 10.7944 23.8605 13.5701 27.7326 13.5701L28.5698 13.5701L28.5698 13.8785C28.5698 16.6542 25.9535 17.5794 23.2326 17.9906L21.9767 18.1963L22.2907 22L23.7558 21.8972C33.0698 21.2804 36 14.5981 36 8.84112C36 3.49533 32.4419 -3.11062e-07 27.8372 -7.13614e-07Z" fill="#1D3A64"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container" id="anchor21">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">‘It saves us so much time. I can access the software on my laptop, on my phone. I’ve got access whenever I want and wherever I am. The savings are huge,’ he says.</p>
                    <p class="govuk-body">‘We've also got access to our real-time accounts and the option to send quotes when you’re on the move; you can have access to your information anywhere in the world.’</p>
                    <p class="govuk-body">When it comes to adopting Digital Accounting software, Darren has no regrets. <br></p>
                    <p class="govuk-body">‘My advice to anyone would be to try it out. Even if it’s just a trial, you've got to at least give it a go.’</p>
                    <p class="govuk-body">‘Digital Accounting software will save you so much time in the long run, without having to worry about hardware costs. It's just a simple monthly subscription for software. Just give it a go – you won’t regret it.’</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="business-card" id="10">
    <div class="grey">
        <div class="govuk-width-container inner-width-container">
            <div class="govuk-grid-row beis-row-flex">
                <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
                    <ul class="govuk-list">
                        <li class="govuk-body"><strong>Business name:</strong> Crannis Technology Services</li>
                        <li class="govuk-body"><strong>Sector:</strong> Professional, scientific and technical</li>
                        <li class="govuk-body"><strong>Location:</strong> Swindon</li>
                        <li class="govuk-body"><strong>Business founded:</strong> 2011</li>
                        <li class="govuk-body"><strong>Visit: </strong> <a id="link-cmsbusinesscard-visit" class="button-link" href="https://www.crannistech.co.uk/"> https://www.crannistech.co.uk/</a></li>
                    </ul>
                </div>
                <div class="govuk-grid-column-one-half">
                    <img class="business-card-image" src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Crannis_logo_300dpi2_37e433c9d6.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-width-container inner-width-container">
        <p class="govuk-body optional">Do you have a tech adoption success story you'd like to share? <br>
            Contact <a id="link-cmsbusinesscard-contact" href="mailto:sme.helptogrow@beis.gov.uk" class="button-link">
                sme.helptogrow@beis.gov.uk
            </a>
        </p>
    </div>
</div>

<!-- #### BANNERS #### -->

<div class="govuk-width-container inner-width-container">
    <div class="beis-landing-page-list__item">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/group_photo_22c51ff514.jpg" class="beis-landing-page-list__image" alt="">
            </div>
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l beis-landing-page-list__heading">
                    6 steps to choosing software
                </h2>
                <p class="govuk-body">Digital technologies can help your business grow. Our 6 steps will steer you through the buying process, so you can make the right choice.</p>
                <div class=" ">
                    <a id="link-find-out-more-six-steps-to-choosing-software" class="beis-icon-link" href="/six-steps-to-choosing-software">
                        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                            <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"></path>
                        </svg>
                        Find out more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container inner-width-container">
    <div class="beis-landing-page-list__item">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-padding-left-0">

                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/i_Stock_1208767689_fbf1b5d576.jpg" class="beis-landing-page-list__image" alt="">


            </div>

            <div class="govuk-grid-column-one-half">

                <h2 class="govuk-heading-l beis-landing-page-list__heading">
                    How to recognise your business needs
                </h2>
                <p class="govuk-body">Identifying your business needs is key to understanding how to help it grow. Download and complete our Business Health Check to find out what shape your business is in.</p>



                <div class=" ">

                    <a id="link-read-the-article-how-to-recognise-your-business-needs" class="beis-icon-link" href="/how-to-recognise-your-business-needs">
                        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                            <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"></path>
                        </svg>
                        Read the article
                    </a>

                </div>


            </div>
        </div>
    </div>
</div>


<!-- #### GREY DIVIDER FOR FOOTER BANNER #### -->
<hr aria-hidden="true"  class="beis-grey divider">

<div class="columns">
    <div class="inner-width-container">
        <div class="govuk-grid-row beis-columns-same-height">
            <div class="govuk-grid-column-one-half-text">
                <div class="govuk-grid-row">
                    <div class="left-column">
                        <h2 class="govuk-heading-l govuk-!-padding-top-8 @*@Model.textblocks[0].subheaderColor*@"> Apply for 50% off business software</h2>
                        <p class="govuk-body" style="text-align:left;">Eligible businesses can get 50% off, up to £5,000, in approved Digital Accounting, Customer Relationship Management and eCommerce software.</p>


                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Arrow1_a55c240ba4.svg" class="beis-link-icon" alt="" width="23" height="24">

                        <a id="link-cmspageviews-2columns-find-your-software-comparison-tool" class="govuk-link" href="/comparison-tool">
                            Find your software
                        </a>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-column-one-half">
                <div class="govuk-grid-row">
                    <div class="right-column">
                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Image5_a5984a6fc3.png" alt="A casually dressed man, standing and smiling while looking at his mobile phone">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-js-display="block" style="display: block;">

    <div id="feedback-prompt" class="feedback-prompt" data-gtm-vis-recent-on-screen-52819822_80="483688" data-gtm-vis-first-on-screen-52819822_80="483688" data-gtm-vis-total-visible-time-52819822_80="100" data-gtm-vis-has-fired-52819822_80="1">
        <div id="feedback-prompt-0" class="feedback-bg-color">
            <div id="feedback-prompt-1" class="govuk-width-container govuk-!-padding-1">
                <div id="FeedbackYesNoContainer" class="govuk-grid-row">
                    <div id="feedback-prompt-3" class="govuk-grid-column-one-half">
                        <div id="FeedbackYesNoDiv" class="wrapper-left">
                            <h2 id="FeedbackYesNoMessage" class="message">Was this page helpful?</h2>

                            <p id="FeedbackYesNoPanel" class="govuk-button-group">
                                <button id="link-cmspageviews-feedbackpromptjs-yes" role="button" onclick="feedback('yes')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                    Yes
                                </button>

                                <button id="link-cmspageviews-feedbackpromptjs-no" role="button" onclick="feedback('no')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                    No
                                </button>
                            </p>
                        </div>
                    </div>

                    <div id="FeedbackReportProblemDiv" class="govuk-grid-column-one-half">
                        <div id="feedback-prompt-6" class="wrapper-right">
                            <button id="link-cmspageviews-feedbackpromptjs-report" role="button" onclick="feedback('report')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                Report a problem with this page
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="FeedbackHelpUsImproveDiv" class="feedback-no-container beis-white" style="display:none">
                <div class="govuk-width-container">

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
                            <p id="survey_explanation" class="govuk-body">
                            </p>
                            <div class="govuk-form-group">
                                <label for="email" class="govuk-label">Email address</label>
                                <input name="email_survey_signup" class="govuk-input" id="email" type="email" autocomplete="email" aria-describedby="survey_explanation">
                            </div>

                            <p class="govuk-button-group">
                                <a id="link-cmspageviews-feedbackpromptjs-no-submit-button" role="button" class="govuk-button primary">
                                    cancel
                                </a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="FeedbackReportProblemPanel" class="report-poroblem-container beis-white" style="display:none">
                <div class="govuk-width-container">
                    <button id="link-cmspageviews-feedbackpromptjs-page-is-not-useful" class="govuk-button secondary" onclick="feedback('close')" data-tabclick="true" data-track-category="yesNoFeedbackForm" data-track-action="fFormClose" aria-controls="page-is-not-useful" aria-expanded="false">
                        Close
                    </button>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h3>Help us to improve Help to Grow: Digital</h3>

                            <div id="feedback_explanation" class="govuk-body">
                                <p class="govuk-body">Don’t include personal or financial information like your National Insurance number or credit card details.</p>
                            </div>

                            <div class="govuk-form-group">
                                <label for="doing" class="govuk-label">What were you doing?</label>
                                <input name="what_doing" class="govuk-input" id="doing" type="text" aria-describedby="feedback_explanation">
                            </div>

                            <div class="govuk-form-group">
                                <label for="wrong" class="govuk-label">What went wrong?</label>
                                <input name="what_wrong" class="govuk-input" id="wrong" type="text">
                            </div>

                            <p class="govuk-button-group">
                                <button id="link-cmspageviews-feedbackpromptjs-submit" role="button" onclick="feedback('submit')" data-tabclick="true" class="govuk-button primary">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      var feedback = function (feedback) {
        switch (feedback) {
          case "no":
          case "yes":
          {
            processFeedback(feedback);
            break;
          }
          case "report":
          {
            $("#FeedbackYesNoContainer").hide();
            $("#FeedbackReportProblemPanel").show();
            break;
          }
          case "close":
          {
            $("#FeedbackReportProblemPanel").hide();
            $("#FeedbackHelpUsImproveDiv").hide();
            $("#FeedbackYesNoMessage").html("Was this page helpful?");
            $("#FeedbackReportProblemDiv").show();
            $("#FeedbackYesNoDiv").addClass("wrapper-left");
            $("#FeedbackYesNoContainer").show();
            $("#FeedbackYesNoPanel").show();
            break;
          }
          case "submit":
          {
            var strDoing = $("#doing").val().trim();
            var strWrong = $("#wrong").val().trim();
            if (strDoing == "") {
              alert("Please tell us what you were doing");
              $("#doing").focus();
              break;
            }

            if (strWrong == "") {
              alert("Please tell us what went wrong");
              $("#wrong").focus();
              break;
            }

            processReport(strDoing, strWrong);
            break;
          }
          default:
          {
            break;
          }
        }
      }

      var processFeedback = function (feedback) {
        $.ajax({
          type: "GET",
          url: "/feedback/useful",
          data: {
            "url": location.pathname,
            "IsPageUseful": feedback
          },
          success: function () {
            $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-useful-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
            $("#FeedbackYesNoDiv").removeClass("wrapper-left");
            $("#FeedbackYesNoPanel").hide();
            $("#FeedbackReportProblemDiv").hide();
          },
          error: function () {
            $("#FeedbackYesNoMessage").html("We were unable to save your feedback. Please try again.");
          }
        });
      }

      var processReport = function (doing, wrong) {
        $.ajax({
          type: "GET",
          url: "/feedback/report-problem",
          data: {
            "url": location.pathname,
            "whatIWasDoing": doing,
            "whatWentWrong": wrong
          },
          success: function () {
            $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-problem-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
            $("#FeedbackYesNoDiv").removeClass("wrapper-left");
            $("#FeedbackYesNoContainer").show();
            $("#FeedbackReportProblemPanel").hide();
            $("#FeedbackHelpUsImproveDiv").hide();
            $("#FeedbackReportProblemDiv").hide();
            $("#FeedbackYesNoPanel").hide();

          },
          error: function () {
            $("#FeedbackYesNoMessage").html("We were unable to save your problem report. Please try again.");
          }
        });
      }
    </script>
</div>


    {% endblock %}
