.beis-htg-logo {
    width:400px;
}

.govuk-header__container {
    border-bottom: 10px solid #FFB000;
    width: 960px;
}

.govuk-header {
    border-bottom: 10px solid #FFB000;
}


.govuk-header__navigation-item--active a:link, .govuk-header__navigation-item--active a:hover, .govuk-header__navigation-item--active a:visited {
    color: #FFB000;
}

.govuk-footer__copyright-logo {
    background-image: url(../images/govuk-crest.png);
}

.govuk-sub-pages-menu {
    top: auto;
    right: 0;
    bottom: -45px;
    left: 0;
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
}


.govuk-sub-pages-menu li {
    display: inline-block;
    display: inline-block;
    margin-right: 11px;
    font-weight: 700;
    font-size: 1rem;
}

/*Fonts path*/
@font-face {
    font-family:GDS Transport;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/light-94a07e06a1-v2.woff2) format("woff2"),url(../fonts/light-f591b13f7d-v2.woff) format("woff"); 
    font-display:fallback
}
@font-face { 
    font-family:GDS Transport; 
    font-style:normal; 
    font-weight:700;
    src:url(../fonts/bold-b542beb274-v2.woff2) format("woff2"),url(../fonts/bold-affa96571d-v2.woff) format("woff");
    font-display:fallback
}

h1, h2, h3, .govuk-body, .govuk-heading-xl, .govuk-heading-l {
    color: #1D3A64;
}

.resources .resources-intro-text, .resources-intro-text{
    font-size: 24px;
    line-height: 32px;
}

.columns .right-column img {
    margin: 30px 0;
}

.govuk-template { background-color: #f3f2f1; }
.govuk-footer { background: #f3f2f1; }

.govuk-header__logo{
    width: auto!important;
}
.govuk-phase-banner{
    width: 960px;
    margin:auto;
}

.govuk-width-container{
    max-width: none;
}


.govuk-\!-padding-right-8 {
    padding-right: 50px !important;

}


    /* BEIS STYLES */


@media (min-width: 40.0625em){
    .govuk-grid-column-one-half {
        width: 50%;
        float: left;
    }
}



.hero-banner .beis-columns-same-height {
    display: flex;
}

.hero-banner .beis-columns {
    max-width: 480px;
}

.hero-banner .left-column {
    justify-content: flex-end;
}

.hero-banner .left-column, .hero-banner .right-column {
    display: flex;
}
.hero-banner-container{
    max-width: 960px;
    margin:auto;
    height: 467px;
}

.hero-banner .beis-columns-same-height .hero-mobile-image {
    display: none;
    width: 100%;
}

.beis-navy-blue {
    background-color: #1E1A34;
    //display: block;
    //height: 467px;
}

.beis-black {
    background-color: #000;
}

.beis-navy-blue > div.govuk-width-container{
    max-width: 960px;
}


.beis-navy-blue > div.govuk-width-container div{
    height: 247px;
}

.beis-navy-blue > div.govuk-width-container img{
    width: 370px;
}

.beis_columns_text {
    width: 450px !important;
    float: left !important;
}

.inner-width-container, .inner-width-container .govuk-grid-column-two-thirds, #feedback-prompt .govuk-width-container{
    max-width: 960px;
    margin: auto;
    padding:0!important;
}

.link-list-hero {
    font-weight: lighter;
    font-size: 1.4em;
    margin: 0px 0px;
}

.columns .beis-columns-same-height {
    display: flex;
    align-items: center;
}

.govuk-footer div{
    max-width: 1024px;
    margin-left: auto;
}

.beis-navy-blue h1, .feedback-prompt h1 {
    color: #fff;
}

.beis-white-text, .beis-white-text p {
    color: #ffffff!important;
}


.govuk-\!-padding-right-8 {
    padding-right: 50px !important;
}

a.govuk-link:link, a.govuk-link:visited {
    font-weight: 700;
    color: #1D70B8;
}

.beis-black{
    background-color: #000;
}

.beis-yellow {
    background-color:#FFB000;
}

.govuk-header-yellow-line {
    border-bottom: 10px solid #FFB000;
    //margin: 0 15px;
}

.three-column-heroes .govuk-grid-column-one-third h3{
    min-height: 3em;
}

.hero-banner a.hero-links:link, .hero-banner a.hero-links:visited {
    color: #FFB000;
    font-weight: 700;
    margin-left: 10px;
}

@media (min-width: 40.0625em) {
    .govuk-main-wrapper { padding-top: 10px; padding-bottom: 40px;
    }
}


.navigation-breadcrumb div{
    max-width: 960px!important;
}


.navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a:first-child {
    font-weight: 700;
}

.navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a {
    color: #000
}


.article .top-line {
    height: 10px;
    display: block;
    box-sizing: border-box;
}

.beis-yellow {
    background-color: #FFB000!important;
}

.hero-mobile-image{
    width: 450px;
}

.hero-mobile-image-sml{
    width: 100%;
}



.hero-mobile-image-landscape{
    max-height: 100%;
    width: auto!important;
}


.beis-grey {
    background-color: #B1B4B6;
}

.search-article-listing h3.govuk-heading-l {
    font-size: 1.5em;
    height: 40px;
}


/* product css*/

.compare-products {
    text-align: right;
}

.top-line{
    background: #1C1C78;
    height: 10px;
    margin: 10px 0 0 0;
    display: block;
    box-sizing: border-box;
}


.search-article-listing .thin-line {
    padding-top: 1px;
}



.frame {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid rgba(28, 28, 120, 0.3);
    padding: 20px;
}





.comparison-tool-details div.product-image {
    display: flex!important;
    align-items: center!important;
    width:auto!important;
    margin: 0!important;
}

.comparison-tool-details div.product-image p {
    margin-left:20px!important;
}

.comparison-tool-details .product-links {
    padding: 0 0 40px 0;
}


.product-image {
    margin: 0 40px;
    width: 120px;
    text-align: center;
}

.govuk-grid-row {
    margin-right: initial;
    margin-left: initial;
}

a.govuk-link:link, a.govuk-link:visited {
    font-weight: 700;
    color: #1D70B8;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-actions {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: end;
    min-width: 180px;
    justify-content: center;
}


.comparison-tool-details .image-mask {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    overflow: hidden;
    margin: 10px 0;
}



.govuk-button.compare {
    background-color: #FFFFFF;
    color: #0B0C0C;
    border-color: #000000;
    border-width: 1px;
    text-decoration: none;
    width: 9.063rem;
}

.govuk-button.discount {
    background-color: #1C1C78;
    color: #FFFFFF !important;
    border-color: #000000;
    border-width: 1px;
    width: 9.063rem;
}


.govuk-button:link, .govuk-button:visited, .govuk-button:active, .govuk-button:hover {
    text-decoration: none;
}

.govuk-button.primary {
    background-color: #24249C;
    color: #fff;
}

.compare-btn {
    margin: 10px 0 0 0;
}

/* product css*/

.beis-summary-product-list {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.beis-underline {
    padding-top: 0.625rem !important;
    background-color: #FFB000;
    margin-bottom: 0.625rem !important;
    margin-left: -1.25rem;
}

.govuk-details__summary {
    padding: 20px;
}

.govuk-summary-list__product1, .govuk-summary-list__product2, .govuk-summary-list__product3 {
    display: table-cell;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B1B4B6;
}

a.govuk-link {
    font-weight: 700;
    color: #1D70B8;
}

.govuk-summary-list__key {
    width: 30%;
}

.govuk-summary-list__product1 .image-mask, .govuk-summary-list__product2 .image-mask, .govuk-summary-list__product3 .image-mask {
    /*display: inline-block;*/
    margin: 10px 0;
}

.govuk-summary-list__product1 .product-image, .govuk-summary-list__product2 .product-image, .govuk-summary-list__product3 .product-image {
    width: 100%;
    text-align: center;
}

.govuk-summary-list__product1 .image-mask img, .govuk-summary-list__product2 .image-mask img, .govuk-summary-list__product3 .image-mask img {
    width: 110px;
    height: 110px;
}

.govuk-summary-list__product1, .govuk-summary-list__product2, .govuk-summary-list__product3 {
    display: table-cell;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B1B4B6;
}

.beis-summary-product-list {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    display: table-cell;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
}

.govuk-summary-list {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

.mobile-product-name {
    display: none;
    font-weight: 700;
    padding: 10px 0;
}

.govuk-button.primary-big {
    padding: 15px 25px;
    background-color: #1C1C78;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    width:100%
}

.govuk-button.primary {
    //padding: 15px 25px;
    background-color: #1C1C78;
    //font-size: 22px;
    //font-weight: 700;
    color: #fff;
}




dd p{
    margin-bottom: 0;
}

/* feedback prompt */

.beis-navy-blue .beis-white-positive, .feedback-prompt .beis-white-positive {
    color: #fff;
    background: transparent;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 2px solid #fff;
}

.feedback-prompt .feedback-no-container, .feedback-prompt .report-poroblem-container, .feedback-prompt .message {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    line-height: 1.25;
}

.feedback-prompt .wrapper-left .govuk-button {
    margin: 5px 10px;
    min-width: 100px;
}

.feedback-prompt .message {
    margin: 30px 20px;
    font-weight: 700;
    color: #fff;
}

.feedback-prompt .feedback-bg-color {
    background: #1C1C78;
    min-height: 10px;
}

.feedback-prompt .govuk-grid-row, .feedback-prompt .wrapper-left, .feedback-prompt .wrapper-right {
    display: flex;
    align-items: center;
}

.feedback-prompt .wrapper-left {
    justify-content: flex-end;
}

