.beis-htg-logo {
    width:400px;
}

.govuk-header__container {
    border-bottom: 10px solid #FFB000;
    width: 960px;
}

.govuk-header {
    border-bottom: 10px solid #FFB000;
}

.govuk-footer__copyright-logo {
    background-image: url(../images/govuk-crest.png);
}

.govuk-sub-pages-menu {
    top: auto;
    right: 0;
    bottom: -45px;
    left: 0;
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
}


.govuk-sub-pages-menu li {
    display: inline-block;
    display: inline-block;
    margin-right: 11px;
    font-weight: 700;
    font-size: 1rem;
}

/*Fonts path*/
@font-face {
    font-family:GDS Transport;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/light-94a07e06a1-v2.woff2) format("woff2"),url(../fonts/light-f591b13f7d-v2.woff) format("woff"); 
    font-display:fallback
}
@font-face { 
    font-family:GDS Transport; 
    font-style:normal; 
    font-weight:700;
    src:url(../fonts/bold-b542beb274-v2.woff2) format("woff2"),url(../fonts/bold-affa96571d-v2.woff) format("woff");
    font-display:fallback
}

.govuk-template { background-color: #f3f2f1; }
.govuk-footer { background: #f3f2f1; }

.govuk-header__logo{
    width: auto!important;
}
.govuk-phase-banner{
    width: 960px;
    margin:auto;
}

.govuk-width-container{
    max-width: none;
}



    /* BEIS STYLES */


@media (min-width: 40.0625em){
    .govuk-grid-column-one-half {
        width: 50%;
        float: left;
    }
}


.hero-banner .beis-columns-same-height {
    display: flex;
}

.hero-banner .beis-columns {
    max-width: 480px;
}

.hero-banner .left-column {
    justify-content: flex-end;
}

.hero-banner .left-column, .hero-banner .right-column {
    display: flex;
}
.hero-banner-container{
    max-width: 960px;
    margin:auto;
    height: 467px;
}

.hero-banner .beis-columns-same-height .hero-mobile-image {
    display: none;
    width: 100%;
}

.beis-navy-blue {
    background-color: #1E1A34;
    display: block;
    height: 467px;
}

/*.beis-columns {
    float: right;
    color: #ffffff;
    !*border: 1px solid white;*!
    width: 300px;
}*/

.beis_columns_text {
    width: 450px !important;
    float: left !important;
}

/*.beis_columns_text > div,  .beis_columns_text > h1 ,  .beis_columns_text > p{
    padding-left:20px
}*/

.beis-white-text {
    color: #ffffff!important;
}

.govuk-\!-padding-right-8 {
    padding-right: 50px !important;
}

a.govuk-link:link, a.govuk-link:visited {
    font-weight: 700;
    color: #1D70B8;
}

.beis-black{
    background-color: #000;
}

.beis-yellow {
    background-color:#FFB000;
}

.three-column-heroes .govuk-grid-column-one-third h3{
    min-height: 3em;
}

.hero-banner a.hero-links:link, .hero-banner a.hero-links:visited {
    color: #FFB000;
    font-weight: 700;
    margin-left: 10px;
}

@media (min-width: 40.0625em) {
    .govuk-main-wrapper { padding-top: 10px; padding-bottom: 40px;
    }
}


