{% extends "layout_advice.html" %}

{% block pageTitle %}
Help to Grow: Digital - Learning Platform
{% endblock %}

{% block content %}

<style>
    .govuk-grid-row {
        margin-right: initial;
        margin-left: initial;
    }
</style>


<div class="navigation-breadcrumb" id="12">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body" style="padding: 0">
                <a href="/home" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
                <a href="#" id="breadcrumb-link-get-your-software-discount-0">Advice and learning</a>
            </div>
        </div>
    </div>
</div>

<div class="landing-page-hero columns beis-navy-blue">
    <div class="govuk-width-container">
        <div class="govuk-grid-row beis-columns-same-height">
            <div class="govuk-grid-column-one-half-text landing-page-hero-left">
                <div class="govuk-grid-row">
                    <div class="left-column beis-white-text">
                        <h1 class="govuk-heading-l beis-white-text govuk-!-margin-bottom-3 govuk-!-margin-top-8">
                            Advice and learning
                        </h1>
                        <div class="govuk-body beis-white-text govuk-!-padding-right-8">
                            <p>Browse our articles and case studies. Each is designed to help expand your digital knowledge
                                and support you taking the next step on your technology journey.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half landing-page-hero-right">
                <div class="govuk-grid-row">
                    <div class="right-column govuk-!-padding-right-3 landing-page-hero-img">
                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/i_Stock_1182622661_fd3a1139ca.jpg" class="hero-mobile-image" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="landingpage-hero-list" id="1">
    <div class="govuk-width-container govuk-!-margin-bottom-6 govuk-!-margin-top-6">
        <div class="govuk-grid-row">
            <div class="inner-width-container">
                <div class="govuk-width-container govuk-!-padding-top-4  govuk-!-padding-bottom-8 article landing-page-hero">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="top-line beis-yellow"></div>
                        </div>
                    </div>

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-grid-row">
                                <div class="left-column ">
                                    <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/articles_ba92a117a1.jpg" class="hero-mobile-image" alt="">

                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-half beis-stretch-content">
                            <div class="govuk-grid-row">
                                <div class="right-column">
                                    <h2 class="govuk-heading-l govuk-!-padding-top-3">
                                        <a id="link-landingpagehero-header-about-the-scheme" class="govuk-link" href="/about-the-scheme">Articles and action plans</a>
                                    </h2>
                                    <p class="govuk-body">
                                        Learn more about different types of software available through Help to Grow: Digital, how to identify your business needs,
                                        and use our step-by-step guide to embrace new ways of working.
                                    </p>
                                    <div>
                                        <img src="https://www.learn-to-grow-your-business.service.gov.uk/assets/images/link-icon.png" class="link-icon-align" alt="">
                                        <a id="link-landingpagehero-read-more-about-the-scheme" class="govuk-link" href="/about-the-scheme">Discover articles and action plans</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="govuk-width-container govuk-!-padding-top-4  govuk-!-padding-bottom-8 article landing-page-hero">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="top-line beis-yellow"></div>
                        </div>
                    </div>

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="govuk-grid-column-one-half beis-stretch-content">
                            <div class="govuk-grid-row">
                                <div class="right-column">
                                    <h2 class="govuk-heading-l govuk-!-padding-top-3">
                                        <a id="link-landingpagehero-header-am-i-eligible%3f" class="govuk-link" href="/eligibility">Case studies</a>
                                    </h2>
                                    <p class="govuk-body">
                                        Explore how software has helped businesses just like yours. Our case studies examine the challenges
                                        faced by these SMEs and how software helped to overcome them.
                                    </p>
                                    <div>
                                        <img src="https://www.learn-to-grow-your-business.service.gov.uk/assets/images/link-icon.png" class="link-icon-align" alt="">
                                        <a id="link-landingpagehero-learn-about-eligibility" class="govuk-link" href="/eligibility">Explore case studies</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-grid-row">
                                <div class="left-column ">
                                    <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/case_study_1c117afbe3.jpg" class="hero-mobile-image" alt="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

    {% endblock %}
