{% extends "layout_about.html" %}

{% block pageTitle %}
Help to Grow: Digital -Learning Platform
{% endblock %}

{% block content %}

<style>
    .govuk-grid-row {
        margin-right: initial;
        margin-left: initial;
    }
</style>


<div class="navigation-breadcrumb" id="12">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body" style="padding: 0">
                <a href="/" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
                <a href="/about" id="breadcrumb-link-about">About</a> <span class="next-pointer"> &gt; </span>About the scheme
            </div>
        </div>
    </div>
</div>


<div id="anchor2" class="inner-width-container govuk-!-margin-bottom-6 govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-3">About Help to Grow: Digital</h1>

        <ul class="author"></ul>

        <div class="govuk-body resources-intro-text">
            Help to Grow: Digital is a government backed, UK-wide scheme that supports eligible SMEs to choose, buy and integrate software into their business.
        </div>

        <div class="stick-to-bottom">

            <p class="govuk-button-group">
            </p>

        </div>
    </div>
</div>

<div class="inner-width-container" id="anchor5">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <div class="govuk-body">
                    <p class="govuk-body">Through the scheme you can access:</p>
                    <ul>
                        <li><p class="govuk-body"><strong>Funding to help buy new software.</strong> Receive a discount of up to 50% or £5,000 (excluding VAT) towards the cost of buying one approved software in the Help to Grow: Digital scheme.</p>
                        </li>
                        <li><p class="govuk-body"><strong>Free, impartial advice and guidance.</strong> <a href="/business-advice-and-learning">Learn more</a> about how the software in this scheme can help your business, discover our free eLearning modules and <a href="/diagnostic-tool/start">find your software solution</a>.</p>
                        </li>
                    </ul>

                </div>

                <p class="govuk-button-group"></p>

            </div>
        </div>
    </div>
</div>


<div class="inner-width-container" id="anchor6">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">How can the scheme help your business?
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">Embracing software and digital ways of working can help boost your business performance. Software integration has helped SMEs to reach more customers, streamline time-consuming tasks and free up more time to focus on core business needs.</p>
                    <p class="govuk-body">Many businesses feel that cost and knowledge are barriers to adopting new software and digital ways of working. This is how Help to Grow: Digital can help.</p>
                    <p class="govuk-body">The scheme provides guidance to help you understand how <a href="/diagnostic-tool/start">software can benefit your business</a>.</p>
                    <p class="govuk-body">Explore our <a href="/business-advice-and-learning">advice and learning</a> section. It includes useful information about how to help identify your software needs, finding the best supplier, getting the best return on your investment and how to integrate software into your business.</p>
                    <p class="govuk-body">When you’re ready, you can <a href="/comparison-tool">browse the software in the scheme</a>, comparing the pros and cons of each package before choosing a software and <a href="/comparison-tool">applying for your discount</a>.</p>

                </div>


                <p class="govuk-button-group">
                </p>



            </div>
        </div>
    </div>
</div>

<div class="inner-width-container" id="anchor7">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">How to apply for the Help to Grow: Digital discount
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">The Help to Grow: Discount is currently available from approved suppliers of the following software types:</p>
                    <ul>
                        <li>Customer Relationship Management (CRM)</li>
                        <li>Digital Accounting</li>
                        <li>eCommerce</li>
                    </ul>
                    <p class="govuk-body">Start by checking if your <a href="/eligibility">business is eligible</a>. This will give you an indication of whether your application will be successful.</p>
                    <p class="govuk-body"><strong>To apply for a discount you will need to:</strong></p>
                    <p class="govuk-body"><strong>Step 1:</strong> Choose your software</p>
                    <p class="govuk-body"><strong>Step 2:</strong> Provide information about you and your company as part of the eligibility and fraud checks</p>
                    <p class="govuk-body"><strong>Step 3:</strong> Once the checks are complete, you’ll receive an email. Confirm your email address to continue</p>
                    <p class="govuk-body"><strong>Step 4:</strong> Wait to receive your email confirming if you’ve passed the eligibility and fraud checks</p>
                    <p class="govuk-body"><strong>Step 5:</strong> If successful, you’ll receive a unique link. Use it on the supplier’s website to buy your chosen software</p>
                    <p class="govuk-body">All discounts need to be redeemed within 30 days from issue. After 30 days you will need to reapply.</p>

                </div>


                <p class="govuk-button-group">
                </p>



            </div>
        </div>
    </div>
</div>

<div class="inner-width-container" id="anchor8">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-l">Contact Help to Grow: Digital
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">For general enquiries, provide feedback or report an issue, please email: <a href="mailto:sme.helptogrow@beis.gov.uk">sme.helptogrow@beis.gov.uk</a></p>

                </div>


                <p class="govuk-button-group">
                </p>



            </div>
        </div>
    </div>
</div>

<hr aria-hidden="true" id="anchor9" class="beis-grey divider">

<div class="columns" id="anchor10">
    <div class="inner-width-container">
        <div class="govuk-grid-row beis-columns-same-height">
            <div class="govuk-grid-column-one-half-text">
                <div class="govuk-grid-row">
                    <div class="left-column">
                        <h2 class="govuk-heading-l govuk-!-padding-top-8 @*@Model.textblocks[0].subheaderColor*@"> Apply for 50% off business software</h2>
                        <p class="govuk-body" style="text-align:left;">Eligible businesses can get 50% off, up to £5,000, in approved Digital Accounting, Customer Relationship Management and eCommerce software.</p>


                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Arrow1_a55c240ba4.svg" class="beis-link-icon" alt="" width="23" height="24">

                        <a id="link-cmspageviews-2columns-find-your-software-comparison-tool" class="govuk-link" href="/comparison-tool">
                            Find your software
                        </a>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-column-one-half">
                <div class="govuk-grid-row">
                    <div class="right-column">
                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Image5_a5984a6fc3.png" alt="A casually dressed man, standing and smiling while looking at his mobile phone">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-js-display="block" style="display: block;">

    <div id="feedback-prompt" class="feedback-prompt" data-gtm-vis-recent-on-screen-52819822_80="483688" data-gtm-vis-first-on-screen-52819822_80="483688" data-gtm-vis-total-visible-time-52819822_80="100" data-gtm-vis-has-fired-52819822_80="1">
        <div id="feedback-prompt-0" class="feedback-bg-color">
            <div id="feedback-prompt-1" class="govuk-width-container govuk-!-padding-1">
                <div id="FeedbackYesNoContainer" class="govuk-grid-row">
                    <div id="feedback-prompt-3" class="govuk-grid-column-one-half">
                        <div id="FeedbackYesNoDiv" class="wrapper-left">
                            <h2 id="FeedbackYesNoMessage" class="message">Was this page helpful?</h2>

                            <p id="FeedbackYesNoPanel" class="govuk-button-group">
                                <button id="link-cmspageviews-feedbackpromptjs-yes" role="button" onclick="feedback('yes')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                    Yes
                                </button>

                                <button id="link-cmspageviews-feedbackpromptjs-no" role="button" onclick="feedback('no')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                    No
                                </button>
                            </p>
                        </div>
                    </div>

                    <div id="FeedbackReportProblemDiv" class="govuk-grid-column-one-half">
                        <div id="feedback-prompt-6" class="wrapper-right">
                            <button id="link-cmspageviews-feedbackpromptjs-report" role="button" onclick="feedback('report')" data-tabclick="true" class="govuk-button beis-white-positive" data-module="govuk-button" tabindex="0">
                                Report a problem with this page
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="FeedbackHelpUsImproveDiv" class="feedback-no-container beis-white" style="display:none">
                <div class="govuk-width-container">

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
                            <p id="survey_explanation" class="govuk-body">
                            </p>
                            <div class="govuk-form-group">
                                <label for="email" class="govuk-label">Email address</label>
                                <input name="email_survey_signup" class="govuk-input" id="email" type="email" autocomplete="email" aria-describedby="survey_explanation">
                            </div>

                            <p class="govuk-button-group">
                                <a id="link-cmspageviews-feedbackpromptjs-no-submit-button" role="button" class="govuk-button primary">
                                    cancel
                                </a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="FeedbackReportProblemPanel" class="report-poroblem-container beis-white" style="display:none">
                <div class="govuk-width-container">
                    <button id="link-cmspageviews-feedbackpromptjs-page-is-not-useful" class="govuk-button secondary" onclick="feedback('close')" data-tabclick="true" data-track-category="yesNoFeedbackForm" data-track-action="fFormClose" aria-controls="page-is-not-useful" aria-expanded="false">
                        Close
                    </button>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h3>Help us to improve Help to Grow: Digital</h3>

                            <div id="feedback_explanation" class="govuk-body">
                                <p class="govuk-body">Don’t include personal or financial information like your National Insurance number or credit card details.</p>
                            </div>

                            <div class="govuk-form-group">
                                <label for="doing" class="govuk-label">What were you doing?</label>
                                <input name="what_doing" class="govuk-input" id="doing" type="text" aria-describedby="feedback_explanation">
                            </div>

                            <div class="govuk-form-group">
                                <label for="wrong" class="govuk-label">What went wrong?</label>
                                <input name="what_wrong" class="govuk-input" id="wrong" type="text">
                            </div>

                            <p class="govuk-button-group">
                                <button id="link-cmspageviews-feedbackpromptjs-submit" role="button" onclick="feedback('submit')" data-tabclick="true" class="govuk-button primary">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      var feedback = function (feedback) {
        switch (feedback) {
          case "no":
          case "yes":
          {
            processFeedback(feedback);
            break;
          }
          case "report":
          {
            $("#FeedbackYesNoContainer").hide();
            $("#FeedbackReportProblemPanel").show();
            break;
          }
          case "close":
          {
            $("#FeedbackReportProblemPanel").hide();
            $("#FeedbackHelpUsImproveDiv").hide();
            $("#FeedbackYesNoMessage").html("Was this page helpful?");
            $("#FeedbackReportProblemDiv").show();
            $("#FeedbackYesNoDiv").addClass("wrapper-left");
            $("#FeedbackYesNoContainer").show();
            $("#FeedbackYesNoPanel").show();
            break;
          }
          case "submit":
          {
            var strDoing = $("#doing").val().trim();
            var strWrong = $("#wrong").val().trim();
            if (strDoing == "") {
              alert("Please tell us what you were doing");
              $("#doing").focus();
              break;
            }

            if (strWrong == "") {
              alert("Please tell us what went wrong");
              $("#wrong").focus();
              break;
            }

            processReport(strDoing, strWrong);
            break;
          }
          default:
          {
            break;
          }
        }
      }

      var processFeedback = function (feedback) {
        $.ajax({
          type: "GET",
          url: "/feedback/useful",
          data: {
            "url": location.pathname,
            "IsPageUseful": feedback
          },
          success: function () {
            $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-useful-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
            $("#FeedbackYesNoDiv").removeClass("wrapper-left");
            $("#FeedbackYesNoPanel").hide();
            $("#FeedbackReportProblemDiv").hide();
          },
          error: function () {
            $("#FeedbackYesNoMessage").html("We were unable to save your feedback. Please try again.");
          }
        });
      }

      var processReport = function (doing, wrong) {
        $.ajax({
          type: "GET",
          url: "/feedback/report-problem",
          data: {
            "url": location.pathname,
            "whatIWasDoing": doing,
            "whatWentWrong": wrong
          },
          success: function () {
            $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-problem-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
            $("#FeedbackYesNoDiv").removeClass("wrapper-left");
            $("#FeedbackYesNoContainer").show();
            $("#FeedbackReportProblemPanel").hide();
            $("#FeedbackHelpUsImproveDiv").hide();
            $("#FeedbackReportProblemDiv").hide();
            $("#FeedbackYesNoPanel").hide();

          },
          error: function () {
            $("#FeedbackYesNoMessage").html("We were unable to save your problem report. Please try again.");
          }
        });
      }
    </script>
</div>


    {% endblock %}
