{% extends "layout_about.html" %}

{% block pageTitle %}
Help to Grow: Digital -Learning Platform
{% endblock %}

{% block content %}

<style>
    .govuk-grid-row {
        margin-right: initial;
        margin-left: initial;
    }
</style>


<div class="navigation-breadcrumb" id="12">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body" style="padding: 0">
                <a href="/" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
                <a href="/about" id="breadcrumb-link-about">About</a> <span class="next-pointer"> &gt; </span>Am I eligible
            </div>
        </div>
    </div>
</div>


<div id="anchor2" class="inner-width-container govuk-!-margin-bottom-6 govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-padding-top-3">Am I eligible?</h1>

        <ul class="author"></ul>

        <div class="govuk-body resources-intro-text">
            <p class="govuk-body">Eligible businesses can apply for a discount of up to 50% or £5,000 (excluding VAT) towards the cost of
                buying one approved software product in the Help to Grow: Digital scheme. This discount covers 12 months’ worth of the approved software's’ core product costs.</p>
            <p class="govuk-body">
                To be eligible for the Help to Grow: Digital discount you <strong>must</strong> meet <strong>all the criteria</strong> below, or your application will be rejected.
            </p>
            <p class="govuk-body">
                Eligibility and fraud checks are made as part of this application, these will not impact your business’ credit score.
            </p>
        </div>
    </div>
</div>

<div class="inner-width-container" id="anchor3">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class=" ">
                <h2 class="govuk-heading-l">Business criteria
                </h2>
                <div class="govuk-body">
                    <ul>
                        <li><strong>UK registration.</strong> Your business must be registered in the UK <strong>and</strong> be registered with <strong>either</strong> Companies House <strong>or</strong> be a registered society listed on the Financial Conduct Authority’s Mutuals Register.</li>
                        <li><strong>Have traded for over 12 months.</strong> Your business must have been <strong>actively</strong> trading for over 12 months prior to the date of application.</li>
                        <li><strong>1 - 249 employees.</strong> Your business must have a minimum of 1 employees, but no more than 249. <a href="https://apply.learn-to-grow-your-business.service.gov.uk/guidance">Read our General Guidance for more information about employee criteria</a>.</li>
                        <li><strong>New software.</strong> Your business must be purchasing the approved software for the first time.</li>
                    </ul>

                </div>


                <p class="govuk-button-group">
                </p>



            </div>
        </div>
    </div>
</div>


<div class="inner-width-container" id="anchor4">
    <div class="govuk-grid-row">
        <div class="beis-white govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-l">Applicant criteria
                </h2>
                <div class="govuk-body">
                    <p class="govuk-body">The person applying for the discount must be:</p>
                    <ul>
                        <li>aged 18 or over</li>
                        <li>an employee of the business</li>
                        <li>authorised to agree to the terms and conditions on behalf of the business</li>
                        <li>able to confirm receipt of the financial discount will not cause the business to exceed the total threshold for Small Amounts of Financial Assistance or De Minimis. Find out more here: <a href="https://www.economy-ni.gov.uk/articles/de-minimis-aid">subsidy control</a>.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
