{% extends "layout_advice.html" %}

{% block pageTitle %}
Help to Grow: Digital - Learning Platform
{% endblock %}

{% block content %}

<style>
    .govuk-grid-row {
        margin-right: initial;
        margin-left: initial;
    }
</style>


<div class="navigation-breadcrumb" id="12">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body" style="padding: 0">
                <a href="/" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
                <a href="business-advice-and-learning" id="breadcrumb-link-get-your-software-discount-0">Advice and learning</a>
                <span class="next-pointer"> &gt; </span> Case studies
            </div>
        </div>
    </div>
</div>

<div class="landing-page-hero columns beis-navy-blue">
    <div class="govuk-width-container">
        <div class="govuk-grid-row beis-columns-same-height">
            <div class="govuk-grid-column-one-half-text landing-page-hero-left">
                <div class="govuk-grid-row">
                    <div class="left-column beis-white-text">
                        <h1 class="govuk-heading-l beis-white-text govuk-!-margin-bottom-3 govuk-!-margin-top-8">
                            Case studies
                        </h1>
                        <div class="govuk-body beis-white-text govuk-!-padding-right-8">
                            <p>Explore how software has helped businesses just like yours. Our case studies examine the
                                challenges faced by these SMEs and how software helped to overcome them.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half landing-page-hero-right">
                <div class="govuk-grid-row">
                    <div class="right-column govuk-!-padding-right-3 landing-page-hero-img">
                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/articles_ba92a117a1.jpg" class="hero-mobile-image-sml" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="govuk-width-container filter-list">
    <div class="details">
        <div>
            <details class="govuk-details inner-width-container" data-module="govuk-details" open="">
                <summary class="govuk-details__summary govuk-grid-column-full govuk-!-padding-right-0">

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="govuk-grid-column-full">
                            <h3 class="govuk-heading-l govuk-!-padding-top-5 govuk-!-margin-bottom-1">Filters</h3>

                        </div>
                    </div>
                    <div class="beis-underline"></div>
                </summary>

                <div class="govuk-body govuk-!-padding-left-3">
                    <strong>Filter by subject</strong>
                </div>
                <div class="govuk-grid-row beis-columns-same-height">

                    <form>
                        <div class="govuk-body">
                            <div class="govuk-grid-row">


                            </div>
                            <div class="govuk-grid-row ">
                                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-2">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="chk-crm" type="checkbox" name="tag-ids">
                                        <label class="govuk-label govuk-checkboxes__label">
                                            Customer Relationship Management (CRM)
                                        </label>
                                    </div>
                                </div>

                                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-2">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="chk-accounting" type="checkbox" name="tag-ids">
                                        <label class="govuk-label govuk-checkboxes__label">
                                            Digital Accounting
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="govuk-grid-row ">
                                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-2">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="chk-ecommerce" type="checkbox" name="tag-ids">
                                        <label class="govuk-label govuk-checkboxes__label">
                                            eCommerce
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="govuk-grid-column-full govuk-body govuk-!-padding-0">
                                <div class="govuk-grid-row beis-columns-same-height govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                                    <div class="govuk-button-group govuk-phase-banner">
                                        <button type="button" class="govuk-button primary" id="btn-filter">Apply filters</button>
                                        <a type="button" aria-label="Reset filters" role="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="all">
                                            Reset filters
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

            </details>
        </div>
    </div>
</div>

<div class="landingpage-hero-list" id="2">
    <div class="govuk-width-container govuk-!-margin-bottom-6 govuk-!-margin-top-6 search-article-listing">
        <div class="govuk-grid-row">
            <div class="inner-width-container">
                <div class="govuk-grid-row beis-columns-same-height">
                    <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-right-0">
                        <h2 class="govuk-heading-l govuk-!-padding-top-3 govuk-!-margin-bottom-2">Case studies</h2>
                        <div class="top-line beis-yellow govuk-!-padding-top-2 govuk-!-margin-bottom-2"></div>
                    </div>
                </div>

                <div class="accounting category">
                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <h3 class="govuk-heading-l govuk-!-padding-top-3 govuk-!-margin-bottom-0">
                                <a id="header-read-the-case-study-crannis-technology-services" class="govuk-link" href="/business-advice-and-learning/case-studies/crannis-technology-services">Crannis
                                    Technology Services</a>
                            </h3>
                        </div>
                    </div>

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
                            <div class="govuk-grid-row">
                                <div class="left-column">
                                    <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Crannis1_back_cf6fe5842e.png" class="hero-mobile-image-sml" alt="A man holding a tablet outside in a garden centre">

                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-grid-row">
                                <div class="right-column">
                                    <p class="govuk-body govuk-!-margin-bottom-2">
                                        <strong>Reading time:</strong> 3:55
                                    </p>
                                    <p class="govuk-body">
                                        Darren Crannis decided to use Digital Accounting software early during the formation
                                        of his electrical engineering company. He explains why it’s never too late to start using it.
                                    </p>
                                    <div>
                                        <img src="https://www.learn-to-grow-your-business.service.gov.uk/assets/images/link-icon.png" class="link-icon-align" alt="">
                                        <a id="link-read-the-case-study-crannis-technology-services" class="govuk-link" href="/business-advice-and-learning/case-studies/crannis-technology-services">Read the case study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <div class="beis-grey thin-line govuk-!-margin-top-4 govuk-!-margin-bottom-4"></div>
                        </div>
                    </div>
                </div>

                <div class="ecommerce category">
                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <h3 class="govuk-heading-l govuk-!-padding-top-3 govuk-!-margin-bottom-0">
                                <a id="header-read-the-case-study-pure-punjabi" class="govuk-link" href="#">Pure Punjabi </a>
                            </h3>
                        </div>
                    </div>

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
                            <div class="govuk-grid-row">
                                <div class="left-column">
                                    <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Pure_Punjabi_face_on_0aca556c1c.png" class="hero-mobile-image-sml" alt="Safia and her mother Surinder from Pure Punjabi, wearing yellow aprons with the company logo on the front">
                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-grid-row">
                                <div class="right-column">
                                    <p class="govuk-body govuk-!-margin-bottom-2">
                                        <strong>Reading time:</strong> 4:01
                                    </p>
                                    <p class="govuk-body">
                                        Mother and daughter team Surinder and Safia Hothi-Bellamy explain how learning to use eCommerce
                                        software and adopting it for their website has led to business growth.
                                    </p>
                                    <div>
                                        <img src="https://www.learn-to-grow-your-business.service.gov.uk/assets/images/link-icon.png" class="link-icon-align" alt="">
                                        <a id="link-read-the-case-study-pure-punjabi" class="govuk-link" href="#">Read the case study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <div class="beis-grey thin-line govuk-!-margin-top-4 govuk-!-margin-bottom-4"></div>
                        </div>
                    </div>
                </div>

                <div class="crm category">
                    <div class="govuk-grid-row beis-columns-same-height crm">
                        <div class="inner-width-container">
                            <h3 class="govuk-heading-l govuk-!-padding-top-3 govuk-!-margin-bottom-0">
                                <a id="header-read-the-case-study-techdisinfect" class="govuk-link" href="#">TechDisinfect</a>
                            </h3>
                        </div>
                    </div>

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
                            <div class="govuk-grid-row">
                                <div class="left-column">
                                    <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Tech_Direct_170620_003_new_6cc8f27d02.jpg" class="hero-mobile-image-sml" alt="">

                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-grid-row">
                                <div class="right-column">
                                    <p class="govuk-body govuk-!-margin-bottom-2">
                                        <strong>Reading time:</strong> 3:29
                                    </p>
                                    <p class="govuk-body">
                                        Having switched careers from finance to set up his commercial cleaning business in 2018,
                                        Karim Samani explains how CRM software has helped him manage interactions with his clients.
                                    </p>
                                    <div>
                                        <img src="https://www.learn-to-grow-your-business.service.gov.uk/assets/images/link-icon.png" class="link-icon-align" alt="">
                                        <a id="link-read-the-case-study-techdisinfect" class="govuk-link" href="#">Read the case study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <div class="beis-grey thin-line govuk-!-margin-top-4 govuk-!-margin-bottom-4"></div>
                        </div>
                    </div>
                </div>

                <div class="ecommerce category">
                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <h3 class="govuk-heading-l govuk-!-padding-top-3 govuk-!-margin-bottom-0">
                                <a id="header-read-the-case-study-ecommerce-brightside-brewing-company" class="govuk-link" href="#">Brightside Brewing Company</a>
                            </h3>
                        </div>
                    </div>

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
                            <div class="govuk-grid-row">
                                <div class="left-column">
                                    <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Brightside_brewing_v1_3e53140509.jpg" class="hero-mobile-image-sml" alt="Carley Friedrich wearing a sweater with a 'Brightside Brewing Company' logo on it">
                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-grid-row">
                                <div class="right-column">
                                    <p class="govuk-body govuk-!-margin-bottom-2">
                                        <strong>Reading time:</strong> 3:39
                                    </p>
                                    <p class="govuk-body">
                                        In 2009, Carley Friedrich decided to return to the fold and help her family set up a brewery.
                                        When times got tough, eCommerce software helped generate the sales they needed.
                                    </p>
                                    <div>
                                        <img src="https://www.learn-to-grow-your-business.service.gov.uk/assets/images/link-icon.png" class="link-icon-align" alt="">
                                        <a id="link-read-the-article-cyber-security" class="govuk-link" href="#">Read the article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <div class="beis-grey thin-line govuk-!-margin-top-4 govuk-!-margin-bottom-4"></div>
                        </div>
                    </div>
                </div>

                <div class="accounting category">
                    <div class="beis-article-list__article">
                    <h3 class="govuk-heading-m beis-article-list__article-heading">
                        <a id="header-read-the-case-study-digital-accounting-copper-connexions" class="govuk-link beis-article-list__article-link" href="#">Copper Connexions</a>
                    </h3>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
                            <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Copper_connexion_v2_85314100eb.jpg" class="hero-mobile-image-sml" alt="">

                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="govuk-body">
                                <strong>Reading time:</strong> 3:51
                            </p>
                            <p class="govuk-body">
                                When Anthony Denison-Birch decided to go it alone and set up Copper Connexions Ltd, he discovered adopting Digital Accounting was one of the best things he could do to help his business grow.
                            </p>
                            <a id="link-read-the-case-study-digital-accounting-copper-connexions" class="govuk-link " href="#">
                                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                                    <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"></path>
                                </svg>
                                Read the case study
                            </a>
                        </div>
                    </div>

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <div class="beis-grey thin-line govuk-!-margin-top-4 govuk-!-margin-bottom-4"></div>
                        </div>
                    </div>
                </div>






                </div>

                <div class="ecommerce category">
                    <div class="beis-article-list__article">
                    <h3 class="govuk-heading-m beis-article-list__article-heading">
                        <a id="header-read-the-case-study-ecommerce-dunsters-farm" class="govuk-link beis-article-list__article-link" href="#">Dunsters Farm</a>
                    </h3>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
                            <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Tom_and_Hannah_8322468ba9.jpg" class="hero-mobile-image-sml" alt="Tom Matthew and his sister Hannah Barlow from Dunsters Farm standing in front of empty pallets">

                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="govuk-body">
                                <strong>Reading time:</strong> 3:54
                            </p>
                            <p class="govuk-body">
                                In 2014, brother and sister, Tom Matthew and Hannah Barlow, became the third generation to work for the family’s business, Dunsters Farm. When the pandemic hit, eCommerce software helped keep things afloat.
                            </p>
                            <a id="link-read-the-case-study-ecommerce-dunsters-farm" class="govuk-link " href="#">
                                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                                    <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"></path>
                                </svg>
                                Read the case study
                            </a>
                        </div>
                    </div>

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <div class="beis-grey thin-line govuk-!-margin-top-4 govuk-!-margin-bottom-4"></div>
                        </div>
                    </div>
                </div>






                </div>

                <div class="crm category">
                    <div class="beis-article-list__article">
                    <h3 class="govuk-heading-m beis-article-list__article-heading">
                        <a id="header-read-the-case-study-ligero-design" class="govuk-link beis-article-list__article-link" href="#">Ligero Design</a>
                    </h3>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
                            <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/ligerodesign_6_150_5875d40999.jpg" class="hero-mobile-image-sml" alt="Ashley and Colin Hulme inside their workshop, working together on a project">

                        </div>
                        <div class="govuk-grid-column-two-thirds">
                            <p class="govuk-body">
                                <strong>Reading time:</strong> 4:31
                            </p>
                            <p class="govuk-body">
                                When father and son team Colin and Ashley Hulme founded specialist LED lighting company Ligero Design, Customer Relationship Management (CRM) software soon shone a light on the benefits it could bring to their business.
                            </p>
                            <a id="link-read-the-case-study-ligero-design" class="govuk-link " href="#">
                                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                                    <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"></path>
                                </svg>
                                Read the case study
                            </a>
                        </div>
                    </div>

                    <div class="govuk-grid-row beis-columns-same-height">
                        <div class="inner-width-container">
                            <div class="beis-grey thin-line govuk-!-margin-top-4 govuk-!-margin-bottom-4"></div>
                        </div>
                    </div>
                </div>






                </div>

            </div>

        </div>
    </div>

</div>

    {% endblock %}
