{% extends "layout_plain.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}



{% set containerClasses = "banner-Class" %}
{% set headerClasses = "banner-Class" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-0">

        <div class="hero-banner">
            <div class="govuk-grid-row beis-columns-same-height">
                <div class="govuk-grid-column-one-half beis-navy-blue">
                    <div class="govuk-grid-row">
                        <div class="left-column">
                            <div class="beis-columns">

                                <div class="beis-text">
                                    <div class="">
                                        <div class="govuk-width-container">
                                            <div class="govuk-grid-row">
                                                <div class="govuk-grid-column-full govuk-!-padding-top-6 govuk-!-padding-bottom-6">
                                                    <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-4">
                                                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Helpto_Growbig_f511980b9d.png" class="beis-htg-logo" alt="Help to grow logo">

                                                    </div>

                                                    <h1 class="govuk-heading-l beis-white-text govuk-!-margin-bottom-6">Get your software discount
                                                    </h1><p class="govuk-body beis-white-text">Explore the software available in the scheme, the features, compatibility, costs, then get your Help to Grow: Digital discount up to £5,000.</p>
                                                    <p class="govuk-!-margin-top-9">
                                                        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Arrow2_c436b977d0.svg" class="svgimg beis-link-icon" alt="">



                                                        <a id="link-cmspageviews-herobannercontent-compare-and-get-discount-comparison-tool" class="govuk-link govuk-!-font-size-24 hero-links" href="/comparison-tool">
                                                            Compare and get discount
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half beis-navy-blue" style="background:url(https://cms.learn-to-grow-your-business.service.gov.uk/uploads/HP_29776f74ff.jpg) 0% 0% / cover no-repeat;">
                    <div class="govuk-grid-row">
                        <div class="right-column">
                            <div class="beis-columns">
                                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/HP_29776f74ff.jpg" class="hero-mobile-image" alt="">


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="three-column-heroes" id="1">
            <div class="govuk-width-container govuk-!-margin-bottom-4 govuk-!-margin-top-6 inner-width-container">
                <div class="govuk-grid-row beis-columns-same-height">
                    <div class="govuk-grid-column-one-third govuk-body">
                        <h3 class="govuk-!-margin-bottom-2">About the scheme</h3>
                        <p class="govuk-!-margin-top-2">Learn more about the scheme, how it supports your business and how to apply for a voucher. </p>
                        <img src="https://www.learn-to-grow-your-business.service.gov.uk/assets/images/link-arrow.svg" class="beis-link-icon link-icon-align govuk-!-margin-right-1" width="20" height="20" alt="">
                        <a id="three-col-link-read-about-the-scheme-about-the-scheme" href="/about/about-the-scheme" title="Read about the scheme" class="govuk-link">Read about the scheme</a>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-body">
                        <h3 class="govuk-!-margin-bottom-2">Understand eligibility  </h3>
                        <p class="govuk-!-margin-top-2">Here you’ll find the full criteria for a successful application, for you and your business.</p>
                        <img src="https://www.learn-to-grow-your-business.service.gov.uk/assets/images/link-arrow.svg" class="beis-link-icon link-icon-align govuk-!-margin-right-1" width="20" height="20" alt="">
                        <a id="three-col-link-check-your-eligibility-eligibility" href="/about/eligibility" title="Check your eligibility" class="govuk-link">Check your eligibility</a>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-body">
                        <h3 class="govuk-!-margin-bottom-2">Case studies and articles</h3>
                        <p class="govuk-!-margin-top-2">Expand your awareness of software, and explore case studies, action plans and expert articles.</p>
                        <img src="https://www.learn-to-grow-your-business.service.gov.uk/assets/images/link-arrow.svg" class="beis-link-icon link-icon-align govuk-!-margin-right-1" width="20" height="20" alt="">
                        <a id="three-col-link-learn-digital-skills-business-advice-and-learning" href="/business-advice-and-learning" title="Learn digital skills" class="govuk-link">Learn digital skills</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="govuk-grid-row">
            <div class="inner-width-container">
                <div class="top-line beis-black inner-width-container">
                </div>
            </div>
        </div>

        <div class="link-list-hero">
            <div class="govuk-width-container govuk-!-margin-bottom-2 govuk-!-margin-top-6">
                <div class="govuk-grid-row beis-columns-same-height">
                    <div class="inner-width-container govuk-body">
                        <h3 class="link-list-hero">Software available for discount</h3>
                        <a id="hero-link-customer-relationship-management-(crm)-1" href="/comparison_tool/index#crm" title="Customer Relationship Management (CRM)" class="govuk-link">Customer Relationship Management (CRM)</a>
                        <span class="govuk-link-divider"> | </span>
                        <a id="hero-link-digital-accounting-8" href="/comparison_tool/index#accounting" title="Digital Accounting" class="govuk-link">Digital Accounting</a>
                        <span class="govuk-link-divider"> | </span>
                        <a id="hero-link-ecommerce-17" href="/comparison_tool/index#ecommerce" title="eCommerce" class="govuk-link">eCommerce</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row beis-columns-same-height govuk-!-margin-top-6 govuk-!-margin-bottom-6">
            <div class="inner-width-container govuk-body">
                <h3 class="link-list-hero">What do you want to learn about?</h3>
                <a id="hero-link-choosing-software-12" href="/business-articles-landing-page?tag-ids=47" title="Choosing software" class="govuk-link">Choosing software</a>
                <span class="govuk-link-divider"> | </span>
                <a id="hero-link-implementing-software-5" href="/business-articles-landing-page?tag-ids=51" title="Implementing software" class="govuk-link">Implementing software</a>
                <span class="govuk-link-divider"> | </span>
                <a id="hero-link-action-plans-3" href="/business-articles-landing-page?tag-ids=46" title="Action plans" class="govuk-link">Action plans</a>
                <span class="govuk-link-divider"> | </span>
                <a id="hero-link-6-step-adoption-guides-4" href="/business-articles-landing-page?tag-ids=40" title="6 step adoption guides" class="govuk-link">6 step adoption guides</a>
                <span class="govuk-link-divider"> | </span>
                <a id="hero-link-training-your-team-7" href="/business-articles-landing-page?tag-ids=54" title="Training your team" class="govuk-link">Training your team</a>
                <span class="govuk-link-divider"> | </span>
                <a id="hero-link-software-explained-15" href="/business-articles-landing-page?tag-ids=53" title="Software explained" class="govuk-link">Software explained</a>
            </div>
        </div>

        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="inner-width-container">
                    <div class="beis-yellow govuk-!-padding-bottom-1">
                    </div>
                </div>
            </div>
        </div>

        <div class="columns" id="anchor5">
            <div class="inner-width-container">
                <div class="govuk-grid-row beis-columns-same-height">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-row">
                            <div class="left-column" style="width: 510px">
                                <h2 class="govuk-heading-l govuk-!-padding-top-8 @*@Model.textblocks[0].subheaderColor*@"> Apply for 50% off business software</h2>
                                <p class="govuk-body" style="text-align:left;">Eligible businesses can get 50% off, up to £5,000 in approved Digital Accounting, Customer Relationship Management and eCommerce software.</p>


                                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Arrow1_a55c240ba4.svg" class="beis-link-icon" width="23" height="24">

                                <a id="link-cmspageviews-2columns-find-your-software-448" class="govuk-link" href="/comparison-tool" aria-label="Find your software ">
                                    Find your software
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-row">
                            <div class="right-column govuk-!-margin-top-6" style="text-align: right">
                                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Image5_a5984a6fc3.png">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}