
{% extends "layout_accounts.html" %}

{% block pageTitle %}
  Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block beforeContent %}
<div class="inner-width-container">
  <img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
  <p><a class="govuk-back-link" href="javascript:window.history.back()">Back</a></p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="inner-width-container">
    <div class="govuk-grid-column-two-thirds">

    <form action="applicant/check-your-answers" method="get">

      <div class="govuk-form-group">

        <div class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Would you like to receive marketing information?
            </h1>
          </legend>
          <span style="display:none" id="terms-policy" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Select if you have read and accepted the terms and conditions, privacy policy and subsidy control
            </span>

          <p>
            From time to time, the Department for Business Energy & Industrial Strategy (BEIS) may contact you to:
            <br>
          </p>

          <ul class="govuk-list govuk-list--bullet govuk-body">
            <li>keep you informed about news,updates and events relating to Help to Grow: Digital</li>
            <li>communicate with you about past and current applications for discounts, including the offer of support once a discount expires/li>
            <li>offer you support with your discount applications & redemptions, and software purchases</li>
          </ul>

          <p>Choose how you would like to receive this information.</p>

          <p>By selecting 'phone number' or 'email' you are consenting to the Department of Business, Energy and Industrial Strategy (BEIS) holding, processing and using your personal data to contact you (including through one or more of the third parties identified in the privacy policy).</p>

        </div>

        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="optional-phone" name="marketing-option" type="checkbox" value=" Phone ">
            <label class="govuk-label govuk-checkboxes__label govuk-body" for="optional-phone">
              Phone number (optional)
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="optional-email" name="marketing-option" type="checkbox" value=" Email ">
            <label class="govuk-label govuk-checkboxes__label govuk-body" for="optional-email">
              Email (optional)
            </label>
          </div>
        </fieldset>

        <br>
        <p>If you do not want to receive updates, select 'Continue'</p>

      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>


    </form>

  </div>
  </div>
</div>

{% endblock %}
