{% extends "layout_sme.html" %}

{% block pageTitle %}
Apply for your Help to Grow: Digital discount on approved software
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="inner-width-container">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Apply for your Help to Grow: Digital discount on approved software</h1>
            <h2 class="govuk-heading-m">Discount available</h2>
            <p class="govuk-body">Eligible businesses can apply for a discount of up to 50% or £5,000 (exclusive of VAT) on the cost of buying one approved software product.</p>
            <p class="govuk-body">The financial discount covers 12 monthsʼ worth of approved software product core costs</p>

            <h2 class="govuk-heading-m">Purchasing your software</h2>
            <p class="govuk-body">After you have completed the online application and passed all fraud and eligibility checks, you will receive a unique discount link to purchase the software directly from your chosen supplier’s website. These fraud and eligibility checks will not affect your businessʼ credit score.</p>

            <p class="govuk-body">For full terms and conditions, please visit: <a href="#">terms and conditions</a>.</p>


            <form class="form" action="" method="">
                <a href="/company/company-size" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
                    Apply now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false" style="width: 17.5px!important;; height: 19px!important;">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg></a>
            </form>


            <h2 class="govuk-heading-m">Eligibility</h2>
            <p class="govuk-body">This financial discount is available to UK businesses that meet <strong>all four</strong> eligibility criteria below:</p>

            <ol class="govuk-list govuk-list--number govuk-body">
                <li>Your business must have a registered office in the UK and be registered at the relevant Companies House or be a registered society listed on the Financial Conduct Authority’s Mutuals Register.</li>
                <li>Your business must have been actively trading for over 12 months prior to the date of application and have an incorporation date of, at minimum, 365 days prior to the date of application.</li>
                <li>Your business must have a total of between 1 and 249 employees. <a href="#">Read our General Guidance for more information about employee criteria</a> .</li>
                <li>Your business must be purchasing the approved software for the first time.</li>
            </ol>

            <p class="govuk-body">Check that your <a href="#">business is eligible (opens in new tab)</a>.</p>




        </div>
        <div class="govuk-grid-column-one-third">

            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Useful links
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a href="terms-and-conditions-detail" class="govuk-link">
                                Terms and conditions
                            </a>
                        </li>
                        <li>
                            <a href="privacy-policy" class="govuk-link">
                                Privacy policy
                            </a>
                        </li>
                        <li>
                            <a href="http://htg-uat-webapp-app.htg-uat-webapp-env.p.azurewebsites.net/" class="govuk-link">
                                Help to Grow: Digital website
                            </a>
                        </li>
                        <li>
                            <a href="general-guidance" class="govuk-link">
                                General guidance
                            </a>
                        </li>
                        <li>
                            <a href="how-to-get-in-touch" class="govuk-link">
                                How to get in touch
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>
{% endblock %}
