{% extends "layout_diagnostic_tool.html" %}

{% block pageTitle %}
Help to Grow: Digital - Learning Platform
{% endblock %}

{% block content %}

<style>
  .govuk-grid-row {
    margin-right: initial;
    margin-left: initial;
  }

</style>



<form class="form" method="post">
<div class="inner-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
      <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
        <h1 class="govuk-heading-xl govuk-!-padding-top-3 govuk-!-padding-bottom-3 govuk-!-margin-0 beis-blue-text">How you use software
        </h1>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading beis-blue-text">
              How does your business currently use software?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="software-use" name="software-use" type="radio" value="Don't use software">
              <label class="govuk-label govuk-radios__label" for="software-use">
                We don't use software
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="software-use-2" name="software-use" type="radio" value="Use some software and want more">
              <label class="govuk-label govuk-radios__label" for="software-use-2">
                We use some software and want more
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="software-use-3" name="software-use" type="radio" value="Already use digital ways of working and are looking for replacements">
              <label class="govuk-label govuk-radios__label" for="software-use-3">
                All processes are digital. We're looking for replacements
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-width-container govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <form action="/">
          <button id="btn-diagnostictoolformviews-renderdiagnostictool-back" type="submit" class="govuk-button primary" formaction="/diagnostic-tool/sector"> Back </button>
          <button id="btn-diagnostictoolformviews-renderdiagnostictool-nextstep" type="submit" class="govuk-button primary"> Next </button>
        </form>
      </div>

    </div>
  </div>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.js"  crossorigin="anonymous"></script>

<script type="text/javascript">

  $( document ).ready(function() {

    $("#btn-diagnostictoolformviews-renderdiagnostictool-nextstep").click(function() {
      
      if ($('input:radio[name=software-use]').is(':checked')){
        $('.form').attr('action', '/diagnostic-tool/support');
      } else {
        $('.form').attr('action', '/diagnostic-tool/error-messages/software-use');
      }
    });

  });

</script>


{% endblock %}
