{% extends "layout_diagnostic_tool.html" %}

{% block pageTitle %}
Help to Grow: Digital - Learning Platform
{% endblock %}

{% block content %}

<style>
  .govuk-grid-row {
    margin-right: initial;
    margin-left: initial;
  }

</style>



<form class="form" method="post">
<div class="inner-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
      <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
        <h1 class="govuk-heading-xl govuk-!-padding-top-3 govuk-!-padding-bottom-3 govuk-!-margin-0 beis-blue-text">Your IT set up
        </h1>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading beis-blue-text">
              How do you currently store most of your business information?
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint beis-blue-text">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="storage" name="storage" type="checkbox" value="On stickies and in notebooks">
              <label class="govuk-label govuk-checkboxes__label" for="storage">
                On stickies and in notebooks
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="storage-2" name="storage" type="checkbox" value="On individual computer hard drives">
              <label class="govuk-label govuk-checkboxes__label" for="storage-2">
                On individual computer hard drives
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="storage-3" name="storage" type="checkbox" value="On shared hard drives">
              <label class="govuk-label govuk-checkboxes__label" for="storage-3">
                On shared hard drives
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="storage-4" name="storage" type="checkbox" value="On Cloud storage (e.g. iCloud)">
              <label class="govuk-label govuk-checkboxes__label" for="storage-4">
                On Cloud storage (e.g. iCloud)
              </label>
            </div>
          </div>
      
        </fieldset>
      </div>

      <div class="govuk-width-container govuk-!-margin-top-6 govuk-!-margin-bottom-6">
          <button id="btn-diagnostictoolformviews-renderdiagnostictool-back" type="submit" class="govuk-button primary" formaction="/diagnostic-tool/support"> Back </button>
          <button id="btn-diagnostictoolformviews-renderdiagnostictool-nextstep" type="submit" class="govuk-button primary"> Next </button>
      </div>

    </div>
  </div>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.js"  crossorigin="anonymous"></script>

<script type="text/javascript">

  $( document ).ready(function() {

    $("#btn-diagnostictoolformviews-renderdiagnostictool-nextstep").click(function() {
      
      if ($('input:checkbox[name=storage]').is(':checked')){
        $('.form').attr('action', '/diagnostic-tool/need');
      } else {
        $('.form').attr('action', '/diagnostic-tool/error-messages/storage');
      }
    });

  });
</script>

{% endblock %}
